<div class="modal-window-content">
  <h3>
    <span><% @message.created_at.strftime("%d/%m/%Y") %></span>  
    <%= h @message.category.name %>
    <%= " : #{h @message.product.description.title}" if @message.products_id %>
  </h3>
  <div class="content">
    <h4>Votre question:</h4>
    <%= h @message.question %>
    <% if @message.updated_at %>
      <h4>Réponse de DVDpost au <%= @message.updated_at.strftime("%d/%m/%Y") %></h4>
      <%=  @message.response %>
    <% end %>
  </div>
</div>
