<div id='additional_div'>
  <% if @number < 5%>
    <p align="center">
  	  <?= TITLE_HOW ?>
  	  <%= t ".title" %>
    </p>
    <% form_for @addition_card, :url => sponsorships_additional_card_path do |f|%>
    	<p>
      	<table align='center'>
      	  <tr>
      	    <td><%= error_messages_for :addition_card %></td>
      	  </tr>
      	  <tr>
            <% total=(5 - @number) %>
            <% for n in 1..total %>
            	<td align="center">
            	  <%= f.radio_button :number, n %>
            	</td>
            <% end %>
          </tr>
          <tr>
            <% for n in 1..total %>
            	<td align="center"><%= n %></td>
            <% end %>
          </tr>
        </table>
      </p>
      <p align="center">
        <%= f.hidden_field :campaign, :value => 'summer2010' %>
        <%= submit_tag t('.confirm'), :id => 'submit_additional' %>
      </p>
    <% end %>
  <% else %>
    <p align='center'>
      <%= t ".not_available"%>
    </p>
  <%end%>
</div>