<div id="maincontent">
  <div id="vod-wrap">
    <div class="top"></div>
      <h2>
        <span id="vod_title"><%= h @product.description.title %> (<%= @product.year %>)&nbsp;<span>
        <span class="stars" id="rating-stars-<%= @product.to_param %>" product_id="<%= @product.to_param %>">
          <%= render :partial => 'products/rating', :locals => {:product => @product, :background => :white} %>
        </span>
      </h2>
      <% if @token and @token_valid %>
        <div id='time'><div id="vodtime"><%= t '.time_left' %> : <strong><%= time_left(@token) %></strong></div></div>
      <% end %>
      <div class="clear"></div>
      <div id="presentation">
        <div id = 'image_vod'><%= product_image_tag @product.image, :alt => "#{@product.title} (#{@product.year})" %></div>
      </div>
      <div id='flow'>
      </div>
      <a id='player'>
      </a>
      <p class="linkpc">
        <%= image_tag 'icon_info_grey.png', :align => :absmiddle, :alt => "info" %>
        <%= link_to t('.connected'), info_path(:page_name => 'get_connected'), :class => 'connect_linkpc' %> - 
        <%= link_to t('.info'), streaming_product_faq_path(:streaming_product_id => @product.imdb_id), :class => 'connect_linkpc' %>
      </p>
      <p class="linkpc">
        <a href='<%= DVDPost.streaming_poll_url[I18n.locale] %>' target='_blank' class='connect_linkpc'>enquete sur les streaming</a>
        <% message = message_streaming(@token) %>
        <% if message %>
          <div class='error'><%= message %></div>
          <% end %>
          <br/><%= link_to 'test', new_streaming_product_report_path(:streaming_product_id => params[:id]), :class => :connect_linkpc, :id => :report %>
      </p>
      
      <% if !current_customer.payment_suspended? %>
        <% if current_customer.credits > 0 || (@token && @token_valid) %>
          <%= render :partial => '/streaming_products/show/kinds', :locals => {:streaming => @streaming, :token => @token}  %>
        <% end %>
      <% end %>

    </div>
  </div>
  <div class="end"></div>
  <div id='flash_problem' style='display:none'>
    <%= t('.no_flash', :link => DVDPost.flash_player_link) %>
  </div>
  
  <% if params[:warning].to_i == 1 && (@token.nil? || !@token_valid)%>
    <div id='warning' style='display:none'>
      <%= new_product_token_path(:product_id => @product.to_param, :imdb_id => @product.imdb_id, :btn => :hide) %>
    </div>
  <% end %>
</div>