
<div id="maincontent">
  <div id="vod-wrap">
    <div class="top"></div>
      <h2><%= h @product.description.title %> (<%= @product.year %>)</h2>
      <% if @token and @token_valid %>
        <span class="vodtime"><%= t '.time_left' %> : <strong><%= time_left(@token) %></strong></span>
      <% end %>
      <div class="clear"></div>
      <div id="presentation">
        <div id = 'image_vod'><%= product_image_tag @product.image, :alt => "#{@product.title} (#{@product.year})" %></div>
      </div>
      <div id='flow'>
      </div>
      <a id='player'>
      </a>
      <% message = message_streaming(@token) %>
      <% if message %>
        <div class='error'><%= message %></div>
      <% end %>

      <% if !current_customer.payment_suspended? %>
        <% if current_customer.credits > 0 || (@token && @token_valid) %>
          <%= render :partial => '/streaming_products/show/kinds', :locals => {:streaming => @streaming, :token => @token}  %>
        <% end %>
      <% end %>

    </div>
    <p class="linkpc">
      <%= image_tag 'icon_info_grey.png', :align => :absmiddle, :alt => "info" %>
      <%= link_to t('.connected'), info_path(:page_name => 'get_connected'), :class => 'connect_linkpc' %> - 
      <%= link_to t('.info'), streaming_product_faq_path(:streaming_product_id => @product.imdb_id), :class => 'connect_linkpc' %>
    </p>
  </div>
  <div class="end"></div>
  <div id='flash_problem' style='display:none'><%= "vous devez installer le player <a href='#{DVDPost.flash_player_link}'>ici</a>" %></div>
</div>