<li>
  <span class="stars">
    <%= rating_image_small(recommendation) %>
  </span>
  <span class="dvd">
    <%= product_image_tag recommendation.image, :width => 76, :height => 118, :alt => "#{recommendation.title} (#{recommendation.year})" %>
    <%= content_tag(:span, '', :class => 'new') if recommendation.is_new? %>
  </span>
  <a href="#" class="like-btn"><%= t '.add' %></a>
  <%= recommendation.title %>
</li>