<div id="messages">
  <p align="right">
    <%= t '.delete' %>
  </p>
  <table border="0" cellspacing="0" cellpadding="0">
    <colgroup>
      <col id="ids" />
      <col id="cats" />
      <col id="date" />
      <col id="response" />
      <col id="details" />
      <col id="delete" />
    </colgroup>
    <tr>
      <th>ID</th>
      <th>
        <%= t '.category' %>
      </th>
      <th>
        <%= t '.date' %>
      </th>
      <th class="center">
        <%= t '.answer' %>
      </th>
      <th class="center">
        <%= t '.details' %>
      </th>
      <th class="center">
        <%= image_tag 'trash-icon-contact.png', :size => '15x21', :alt => 'Delete' %>
      </th>
    </tr>
    <%= render :partial => '/messages/index/message', :collection => messages %>
  </table>
  <%= will_paginate messages, :class => 'products-pagination', :previous_label => '&nbsp;', :next_label => '&nbsp;' %>
</div>
