<div id="question">
  <% form_for @message do |f| %>
    <h3>
      <%= t '.intro' %>
    </h3>
    <%= radio_question_for f, :dvd %>
    <%= radio_question_for f, :billing %>
    <%= radio_question_for f, :number %>
    <%= radio_question_for f, :billing %>
    <%= radio_question_for f, :transfer %>
    <%= radio_question_for f, :promo_code %>
    <%= radio_question_for f, :personal_info %>
    <%= radio_question_for f, :delivery_info %>
    <%= radio_question_for f, :mail_password %>
    <%= radio_question_for f, :pwd_forgotten %>
    <%= radio_question_for f, :add_to_list %>
    <%= radio_question_for f, :technical %>
    <%= radio_question_for f, :vacation %>
    <%= radio_question_for f, :other %>
    <p>
      <%= t '.thanks' %>
    </p>

    <%= f.text_area 'question' %>
    <% content_tag :button, :type => :submit, :class => 'like-btn' do %>
      <%= t '.send' %>
    <% end %>
    
  <% end %>
  <div class="clear"></div>
</div>
