<div id="question">
  <% form_for @message do |f| %>
    <h3>
      <%= t '.intro' %>
    </h3>
    <!--to do -->
    <p><%= link_to t('messages.index.radio_question.labels.dvd'), 'http://www.dvdpost.be/custserproblemdvd.php' %></p>
    <p><%= link_to t('messages.index.radio_question.labels.billing'), 'http://www.dvdpost.be/custserfact.php' %></p>
    <p><%= link_to t('messages.index.radio_question.labels.number'), 'http://www.dvdpost.be/custserproblemdvd.php' %></p>
    <p><%= link_to t('messages.index.radio_question.labels.billing'), 'http://www.dvdpost.be/custserdvdxy.php' %></p>
    <p><%= link_to t('messages.index.radio_question.labels.transfer'), 'http://www.dvdpost.be/custserdom.php' %></p>
    <p><%= link_to t('messages.index.radio_question.labels.promo_code'), 'http://www.dvdpost.be/custsercodes.php' %></p>
    <p><%= link_to t('messages.index.radio_question.labels.personal_info'), customer_path(:id => current_customer) %></p>
    <p><%= link_to t('messages.index.radio_question.labels.delivery_info'), customer_path(:id => current_customer) %></p>
    <p><%= link_to t('messages.index.radio_question.labels.mail_password'), customer_path(:id => current_customer) %></p>
    <p><%= link_to t('messages.index.radio_question.labels.pwd_forgotten'), customer_path(:id => current_customer)  %></p>
    <p><%= link_to t('messages.index.radio_question.labels.add_to_list'), 'http://www.dvdpost.be/custserproblemdvd.php' %></p>
    <p><%= link_to t('messages.index.radio_question.labels.technical'), 'http://www.dvdpost.be/custservtecherror.php' %></p>
    <p><%= link_to t('messages.index.radio_question.labels.vacation'), 'http://www.dvdpost.be/holiday_form.php' %></p>
    <%= f.hidden_field(:category_id, :value =>  6) %>
    <p>
      <%= t '.thanks' %>
    </p>

    <%= f.text_area 'question' %>
    <% content_tag :button, :type => :submit, :class => 'like-btn' do %>
      <%= t '.send' %>
    <% end %>
    
  <% end %>
  <div class="clear"></div>
</div>
