<div id="question">
  <% form_for @message do |f| %>
    <h3>
      <%= t '.intro' %>
    </h3>
    <!--to do -->
    <%= radio_question_for f, :dvd, 1 %>
    <%= radio_question_for f, :billing, 1 %>
    <%= radio_question_for f, :number, 1 %>
    <%= radio_question_for f, :billing, 1 %>
    <%= radio_question_for f, :transfer, 1 %>
    <%= radio_question_for f, :promo_code, 1 %>
    <%= radio_question_for f, :personal_info, 1 %>
    <%= radio_question_for f, :delivery_info, 1 %>
    <%= radio_question_for f, :mail_password, 1 %>
    <%= radio_question_for f, :pwd_forgotten, 1 %>
    <%= radio_question_for f, :add_to_list, 1 %>
    <%= radio_question_for f, :technical, 1 %>
    <%= radio_question_for f, :vacation, 1 %>
    <%= radio_question_for f, :other, 6 %>
    <p>
      <%= t '.thanks' %>
    </p>

    <%= f.text_area 'question' %>
    <% content_tag :button, :type => :submit, :class => 'like-btn' do %>
      <%= t '.send' %>
    <% end %>
    
  <% end %>
  <div class="clear"></div>
</div>
