<h1>Editing partner</h1>
<% form_for :partner, :url => {:action => :update}, :html => {:method => :put, :multipart => true} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :logo %>
      <%= f.file_field :logo %>
    </p>
    <p>
      <%= f.label :active %>
      <%= f.check_box :active %>
    </p>
  </fieldset>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', partners_path %>
