<% path = product_path(:id => popular_product.to_param, :recommendation => @wishlist_source[:popular]) %>
<li>
  <div class="stars" id="rating-stars-<%= popular_product.to_param %>" product_id ="<%= popular_product.to_param %>">
    <%= render :partial => 'products/rating', :locals => {:product => popular_product, :background => :white, :size => :small} %>
  </div>
  <% link_to path, :class => ((popular_product.streaming? and streaming_access?) ? 'vod' : product_media_id(popular_product.media)) do %>
    <%= product_image_tag popular_product.image, :width => 76, :height => 118, :alt => "#{popular_product.title} (#{popular_product.year})" %>
  <% end %>
  <%= render :partial => 'products/hybrid', :locals => {:product => popular_product, :text => :short, :source => @wishlist_source[:popular]}  %>
  <%= link_to popular_product.title, path, :class => 'more' %>
</li>
