<li>
  <div class="stars" id="rating-stars-<%= product.to_param %>" product_id ="<%= product.to_param %>">
    <%= render :partial => 'products/rating', :locals => {:product => product, :background => :white} %>
  </div>
  <% link_to product_path(:id => product.to_param) do %>
    <span class="<%= product_media_id(product.media) %>">
      <%= product_image_tag product.image, :width => 76,:height=> 118, :alt => "#{product.title} (#{product.year})" %>
      <%= content_tag(:span, '', :class => 'new') if product.is_new? %>
    </span>
  <% end %>
  <%= render :partial => 'products/wishlist', :locals => {:product => product, :text => :short, :source => @wishlist_source[:elsewhere]} %>
  <%= link_to product.title, product_path(:id => product.to_param), :class => 'more'  %>
</li>
