<div id='home_recommendations'>
  <ul class="ttls-nav" id="recom">
    <li>
      <h3 class="hp-ttls">
        <%= t '.title' %>
      </h3>
    </li>
    <li>
      <%= link_to t('.see_all'), products_path(:recommended => true) %>
    </li>
  </ul>
  <!-- Carousel -->
  <div id="carousel-wrap-hp">
    <div id="carousel">
      <ul>
        <%= render :partial => 'home/index/recommendation_product', :collection => products %>
      </ul>
      <%= will_paginate products, :previous_label => 'Prev', :next_label => '', :page_links => false, :param_name => :recommendation_page, :id => 'prev', :class => 'like-btn', :container => false %>
      <%= will_paginate products, :previous_label => '', :next_label => 'Next', :page_links => false, :param_name => :recommendation_page, :id => 'next', :class => 'like-btn', :container => false %>
    </div>
  </div>
  <div class="clear"></div>
</div>
