<% item_number = top_product_counter + 1 %>
<% if item_number == 1 %>
  <div class="top10 first">
    <h2>
      <%= link_to top_product.title, product_path(:id => top_product.to_param) %>
    </h2>
    <%= rating_image_small(top_product, :black) %>
    <p>
      <%= t '.by' %>
      <%= link_to top_product.director.name, director_products_path(:director_id => top_product.director.to_param) %>
    </p>
    <p>
      <%= t '.actors' %>
      <%= top_product.actors.collect{|actor| link_to actor.name, actor_products_path(:actor_id => actor.to_param)}.join(', ') %>
    </p>
    <p><%= product_description_text(top_product) %></p>
    <%= render :partial => 'products/wishlist', :locals => {:product => top_product, :text => :short} %>
    <% link_to product_path(:id => top_product.to_param), :class => "cover #{product_media_id(top_product.media)}" do %>
      <%= product_image_tag top_product.image, :width => 76, :height => 118 %>
    <% end %>
    <%= image_tag "#{item_number}.png", :alt => item_number, :class => 'number'%>
  </div>
<% else %>
  <div class="top10<%= item_number == 10 ? ' last' : '' %>">
    <h2><%= link_to top_product.title, product_path(:id => top_product.to_param) %></h2>
    <p class='top-description' style="display:none"><%= product_description_text(top_product) %></p>
    <%= render :partial => 'products/wishlist', :locals => {:product => top_product, :text => :short} %>
    <%= image_tag "#{item_number}.gif", :alt => item_number, :class => 'number'%>
    <%= link_to 'Toggle', product_path(:id => top_product.to_param), :class => 't-arrow open' %>
  </div>
<% end %>
<!-- tooglle class = open when open -->