<div id="welcome">
  <h4>
    <%= t '.welcome' %> <%= current_customer.customers_firstname %>
  </h4>
  <div id="votre-liste">
    <%= t('.contains') %> 
    <span><%= wishlist_count %> <%= t '.dvd' %></span>
  </div>
  <table border="0" cellspacing="0" cellpadding="0" id ='wishlist_widget'>
    <colgroup>
    <col class="col1" />
    <col class="col2" />
  </colgroup>
  <tr>
    <th colspan="2">
      <%= t '.lent' %>
      <span>
        <%= transit_items.count if transit_items %> <%= t '.dvd' %>
      </span>
    </th>
  </tr>
  <% transit_items.each do |transit_item| %>
  <tr>
    <td><%= link_to truncate(transit_item.product.title, :length => 50), product_path(:id => transit_item.product.to_param) %></td>
    <td><%= transit_item.changed_at.strftime("%d/%m/%Y") %></td>
  </tr>
  <% end %>
  </table>

  <% if @offline_request.count > 0 %>
    </div>
    <%= render :partial => 'home/index/offline_request', :locals => {:offline_request => @offline_request} %>
  <% elsif @renew_subscription  %>
    </div>
    <%= render :partial => 'home/index/credit_empty', :locals => {:offline_request => @offline_request} %>
  <% elsif @not_rated_product %>
    <%= render :partial => 'home/index/wishlist_rating', :locals => {:product => @not_rated_product} %>
    </div>
  <% else %>
    </div>
  <% end %>

<div class="clear"></div>
