<div id="welcome">
  <h4>BIENVENUE <%= current_customer.customers_firstname %></h4>
  <div id="votre-liste">Votre liste contient : <span><%= wishlist_count %> DVD</span></div>
  <table border="0" cellspacing="0" cellpadding="0" id ='wishlist_widget'>
    <colgroup>
    <col class="col1" />
    <col class="col2" />
  </colgroup>
  <tr>
    <th colspan="2">DVD chez vous ou en transit : <span><%= transit_items.count %> DVD</span> </th>
  </tr>
  <% transit_items.each do |transit_item| %>
  <tr>
    <td><%= link_to truncate(transit_item.product.title, :length => 50), product_path(:id => transit_item.product.to_param) %></td>
    <td><%= transit_item.changed_at.strftime("%d/%m/%Y") %></td>
  </tr>
  <% end %>
  </table>
  <div id="cotez">
    <%= render :partial => 'home/index/wishlist_rating', :locals => {:product => @not_rated_product} if @not_rated_product %>
  </div>
</div>
<div class="clear"></div>
