<div id="welcome">
  <h4>
    <%= t '.welcome' %> <%= current_customer.customers_firstname %>
  </h4>
  <div id="votre-liste" class="<%= list_indicator_class(@wishlist_size) %>">
    <%= t('.contains') %> 
    <span><%= wishlist_count %> <%= t '.dvd' %></span>
  </div>
  <table border="0" cellspacing="0" cellpadding="0" id ='wishlist_widget'>
    <colgroup>
    <col class="col1" />
    <col class="col2" />
  </colgroup>
  <tr>
    <th colspan="2">
      <%= t '.lent' %>
      <span>
        <%= transit_items.count %> <%= t '.dvd' %>
      </span>
    </th>
  </tr>
  <% transit_items.each do |transit_item| %>
  <tr>
    <td><%= link_to truncate(product_assigned_title(transit_item.product), :length => 30), product_assigned_path(transit_item.product) %></td>
    <td><%= transit_item.changed_at.strftime("%d/%m/%Y") %></td>
  </tr>
  <% end %>
  <% if streaming_access? && streaming_available.count > 0 %>
    <tr>
      <th colspan="2">
        <%= t '.streaming_available' %> :
        <span>
          <%= streaming_available.count %> <%= streaming_available.count > 1 ? t('.movies') : t('.movie') %>
        </span>
      </th>
    </tr>
    <% streaming_available.each do |stream| %>
      <tr>
        <td><%= link_to truncate(stream.products.first.description.title, :length => 30), streaming_product_path(:id => stream.imdb_id) if stream.products.first %></td>
        <td><%= "#{time_left(stream)}" %></td>
      </tr>
    <% end %>
  <% end %>
  </table>

  <% if @offline_request.count > 0 %>
    </div>
    <%= render :partial => 'home/index/offline_request', :locals => {:offline_request => @offline_request} %>
  <% elsif @renew_subscription  %>
    </div>
    <%= render :partial => 'home/index/credit_empty', :locals => {:offline_request => @offline_request} %>
  <% elsif @not_rated_product %>
    <%= render :partial => 'home/index/wishlist_rating', :locals => {:product => @not_rated_product} %>
    </div>
  <% else %>
    </div>
  <% end %>

<div class="clear"></div>
