<% path = product_path(:id => review.product.to_param, :recommendation => source) %>
<div class="dvd clearfix">
  <div class="movie-descr">
    <h2>
      <%= link_to review.product.title, path %> 
      <span class="publish">
        <%= "#{t '.published_on'} #{review.created_at.strftime("%d/%m/%Y")}" %>
      </span>
      <div style="clear:both"></div>
    </h2>
    <p>
      <%= review.text %>
    </p>
    <p>
      <%= t '.rating'%> : 
      <% review.rating.times do %>
        <%= image_tag 'sm-star-on.png', :align => :top %>
      <% end %>
      <% (5-review.rating).times do %>
        <%= image_tag 'sm-star-off.png', :align => :top %>
      <% end %>
    </p>
    <%= render :partial => 'reviews/index/critics', :locals => {:review => review} %>
  </div>
  <div class="action">
    <h4>
      <%= review.product.categories.first.name unless review.product.categories.empty? %>
    </h4>
    <div class="stars" id="rating-stars-<%= review.product.to_param %>" product_id="<%= review.product.to_param %>">
      <%= render :partial => 'products/rating', :locals => {:product => review.product, :background => :white} %>
    </div>
    <div class="links" id="seen-uninterested-<%= review.product.to_param %>">
      <%= render :partial => 'products/show/seen_uninterested', :locals => {:product => review.product} %>
    </div>
    <%= render :partial => 'products/wishlist', :locals => {:product => review.product, :text => :long, :source => source} unless params[:view_mode] == 'streaming' || params[:view_mode] == 'popular_streaming' || params[:view_mode] == 'weekly_streaming' %>
    <%= render :partial => 'products/streaming', :locals => {:product => review.product, :token => @token } if review.product.streaming? and streaming_access? %>
    
  </div>
  <div>
    <% link_to path, :class => :cover, :title => review.product.title do %>
      <%= product_image_tag review.product.image, :width => 62, :height => 95 %>
    <% end %>
  </div>
</div>