<%= stylesheet 'info', :media => :all %>
<%= javascript 'info' %>
  <div id="maincontent">
    <div id="vod-wrap">
      <div class="top"></div>
      <div id="main_box">
        <div id="top_box">
          <h1 title="How to watch streamed movies on your TV">okHow to connect your PC <br />
            to <font color="#FF3300">your TV</font></h1>
          <p id="intro_copy"> Most TVs come with suitable "connectors", enabling you to hook up your laptop or computer to your TV. All you need is a cable; and stick one end in your laptop or computer, and the other end in your TV.<br>
            It's easier than you think. </p>
          <div id="left_box">
            <p>Just answer the <strong>2 questions below</strong> and we will help you find which cable you need.</p>
            <h3>1. Check the connector on your computer</h3>
            <p>Look on the sides, back or front of your computer and click the matching connector below.</p>
            <h3>2. Check the connector on your TV</h3>
            <p>Look on the sides or back of your TV and click the matching connector below.</p>
          </div>
          <div id="right_box">
            <p>As soon as you've bought the cable suggested and connected your computer, you should be able to <%= link_to 'stream our films', products_path(:view_mode => :streaming) %>, and enjoy them on your TV.</p>
            <p>This service is available to all belgian users of DVDPost.</p>
            <p> </p>
            <p id="enjoy">Give it a go and enjoy <%= link_to 'streamed movies', products_path(:view_mode => :streaming) %> on your TV.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div id="guide_smallprint">
          <p>We hope that each and every cable suggested works perfectly. But if you do encounter any problems, please check the operating instructions of your laptop/computer and TV, or contact the manufacturers for further help.</p>
        </div>
        <div id="middle_box">
          <div class="options_box" id="box_output">
            <h2>Step 1</h2>
            <div class="options_top">
              <h3>Check the connector <br />
                on <font color="#FF3300">your computer</font></h3>
              <%= image_tag 'your_comp.jpg' %>
              <p>Select a matching connector</p>
            </div>
            <%= render :partial => "info/get_connected/step1" %>
          </div>
          <div class="options_box" id="box_input">
            <h2>Step 2</h2>
            <div class="options_top">
              <h3>Check the connector<br />
                on <font color="#FF3300">your TV</font></h3>
              <img src="/images/your_tv.jpg" alt="Check the connector on your TV">
              <p>Select a matching connector</p>
            </div>
            <%= render :partial => "info/get_connected/step2" %>
          </div>
          <div class="options_box" id="option_last">
            <h2>Step 3</h2>
            <div class="options_top">
              <h3>Here's what <br />
                <font color="#FF3300">we suggest</font></h3>
              <img src="/images/suggested.jpg" alt="Suggested connection">
              <p style="display: block;">Please complete steps 1 and 2</p>
            </div>
            <%= render :partial => "info/get_connected/step3" %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="end"></div>
  </div>
  <div style='display:none'>
    <div id='locale'><%= I18n.locale %></div>
  </div>
</div>

