
<div id="bg_anticipation" class="<%= I18n.locale %>">
  <% if @reconduction_earlier %>
  <div id="left_content">
   <%= t('reconduction.reconduction_earlier_already') %>
  </div>
  <% else %>
    <% form_for(:customer, :url => customer_reconduction_path(:customer_id => current_customer.to_param), :id => :form_account, :html => {:method => :put}) do |f| %>
  
      <div id="left_content">
        <table cellpadding="0" cellspacing="0"  border="0" width="400" class="yes" >
          <tr class="choice">
            <td width="33"><div class="check"></div></td>
            <td width="10"></td>
            <td><p class="text_yes"><span class="big_yes"><%= t '.yes' %></span> <%= current_customer.is_freetest? ? t('.now') : t('.now_payed') %>.</p></td>
          <tr>
            <td colspan="3"><table cellpadding="0" cellspacing="0"  border="0" height="114" width="260" class="abo_actu" >
                <tr>
                  <td valign="top"><%= t('.film', :count => current_customer.is_freetest? ? current_customer.next_credit_per_month : current_customer.credit_per_month) %>
                    <br />
                    <span class="text_prices"><strong>&euro; <%= current_customer.is_freetest? ? current_customer.next_price_per_month : current_customer.price_per_month %></strong></span></td>
                </tr>
              </table></td>
          </tr>
          <tr style='display:none' class="date_recondutcion">
            <td colspan="3"><span class="monthquote"><br/><%= t '.date', :date => Date.tomorrow.strftime("%d/%m/%Y") %>.</span> </td>
          </tr>
        </table>
      </div>
      <div id="right_content">
        <table cellpadding="0" cellspacing="0"  border="0" width="400" class="yes" >
          <tr class="choice">
            <td width="33"><div class="check"></div></td>
            </td>
            <td><p class="text_yes"><span class="big_yes"><%= t '.yes' %></span> <%= current_customer.is_freetest? ? t('.now_plus') : t('.now_plus_payed')%>.</p></td>
        </table>
        <table cellpadding="0" cellspacing="0"  border="0" width="400" class="table_abo">
          <%= render :partial => 'reconductions/edit/abo', :collection => @list_abo, :locals => {:current_abo_credit => current_customer.credit_per_month, :selected_abo => current_customer.next_abo_type_id} %>
          <tr>
            <td colspan="5" class="text-more" id ="show_all"><a href=""><img src="/images/plus.png" alt="Plus" align="absmiddle"></a> <%= t '.plus' %></td>
          </tr>
          <tr style='display:none' class="date_recondutcion">
            <td colspan="5"><span class="monthquote"><%= t '.date', :date => Date.tomorrow.strftime("%d/%m/%Y") %>.</span> </td>
          </tr>
        </table>
      </div>
      <div class="clear"></div>
      <%= f.hidden_field :next_abo_type_id %>
      <div align='center' style="width:920px; height:50px"><button type="submit" class="button_confirm"><%= t '.confirm' %></button></div>
    <% end %>
  <% end %>
</div>
<div style="display:none">
  <div id="error1"><%= t '.choice_missing' %></div>
  <div id="error2"><%= t '.abo_missing' %></div>
</div>
