<div style="display: block;" class="content">

  <div id="addwishlist_title"><%= "#{@product.title} (#{@product.year})" %></div>
  <div id="addwishlist_explain">
    <%= t '.intro' %><br /><br />
	  <% if current_customer.credits > 0 %>
      <%= t '.credit_left', :credit => current_customer.credits %>
      <br />
      <% if @product_in_wishlist %>
        <%= t '.remove_from_wishlist' %>
      <% end %>
      <br />
  	  <p align='center'><%= link_to t('.see_to_vod'), streaming_product_path(:id => @product.imdb_id, :product_id => @product.id), :id => 'add_to_vod' %></p>
      
    <% else %>
      <%= t '.credit_empty', :url => reconduction_path  %>
    <% end %>
  </div>
</div>