<div style="display: block;width:450px" class="content">

  <div id="addwishlist_title"><%= "#{@product.title} (#{@product.year})" %></div>
  <div id="addwishlist_explain">
    <%= t '.intro' %><br /><br />
	  <% if current_customer.credits > 0 %>
      <%= t '.credit_left', :credit => current_customer.credits %>
      <br />
      <% unless @product_in_wishlist.blank? %>
        <p><%= t '.remove_from_wishlist' %></p>
      <% end %>
      <br />
      <% unless params[:btn] == 'hide' %>
  	    <p align='center'><%= link_to t('.see_to_vod'), streaming_product_path(:id => @product.imdb_id), :id => 'add_to_vod' %></p>
  	  <% end %>
    <% else %>
      <%= t '.credit_empty', :url => edit_customer_reconduction_path(:locale => I18n.locale, :customer_id => current_customer.to_param) %>
    <% end %>
  </div>
</div>