<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent" >
  <div class="top"></div>

  <!-- Tabs rotattor -->
  <div id="tabs-rotator">
    <ul id="tabs">
      <li><a href="#"><strong>SPECIAL</strong> Vampires</a></li>
      <li><a href="#"><strong>TOP 10</strong> des locations</a></li>
      <li><a href="#"><strong>AU cinéma</strong> en ce moment</a></li>
      <li><a href="#" class="active"><strong>Nouveauté</strong> de la semaine</a></li>
      <li><a href="#"><strong>PROCHAINEMENT</strong> chez DVDPost</a></li>
    </ul>
    <div class="panel">
      <div class="capt">
        <h2>Bienvenue à Zombieland</h2>
        <ul>
          <li><a href="#" id="rent">Louer</a></li>
          <li class="delim"></li>
          <li><a href="#" id="trailer">Bande-annonce</a></li>
        </ul>
      </div>
      <img src="/images/zombiland.jpg" alt="" /> </div>
    </div>
    <!-- BIENVENUE  -->
    <div id="welcome">
      <h4>BIENVENUE MAUD</h4>
      <div id="votre-liste">Votre liste contient : <span>30 DVD</span></div>
      <table border="0" cellspacing="0" cellpadding="0">
        <colgroup>
        <col class="col1" />
        <col class="col2" />
      </colgroup>
      <tr>
        <th colspan="2">DVD chez vous ou en transit : <span>2 DVD</span> </th>
      </tr>
      <tr>
        <td>Millénium: Le Film </td>
        <td>25-03-2010</td>
      </tr>
      <tr>
        <td>Public Enemies</td>
        <td>25-03-2010</td>
      </tr>
    </table>
    <div id="cotez">
      <h4>Cotez ce film</h4>
      <img src="/images/cotez-stars.jpg" alt="" vspace="4" />
      <h5>Prince of Persia: <br />
        Les Sables du Temps</h5>
        <span class="cover dvd"><img src="/images/pop-cover.jpg" alt="Prince of Persia: Les Sables du Temps" /></span> </div>
      </div>
      <div class="clear"></div>

      <!-- Flash News  -->

      <ul class="ttls-nav" id="fl-news">
        <li>
          <h3 class="hp-ttls">Flash News</h3>
        </li>
        <li><a href="#">Autres publications</a></li>
      </ul>
      <ul id="flash-news">
        <li> <img src="/images/news1.gif" alt="" class="left" />
          <h3>Maintenance du site</h3>
          <p>Nous allons procéder à une maintenance de nos serveurs internet ce lundi 24 février entre 15h et 19h en vue d'améliorer les performances du site de DVDpost.</p>
        </li>
        <li> <img src="/images/news2.jpg" alt="" class="left" />
          <h3>Signé Tim Burton !</h3>
          <p>Apprenez à reconnaître la "Burton's touch" et revoyez l'interview de Tim Burton à l'occasion de la sortie de "Alice au pays des merveilles".</p>
          <p class="more"><a href="#">Lire la suite</a></p>
        </li>
        <li> <img src="/images/news3.jpg" alt="" class="left" />
          <h3>Quels films verra-t-on à Cannes ?</h3>
          <p>C'est officiel : "Robin des Bois" ouvrira le Festival de Cannes.  Mais à part ça ? DVDPost fait le point sur les rumeurs, en attendant le 15 avril, date de...</p>
          <p class="more"><a href="#">Lire la suite</a></p>
        </li>
      </ul>

      <!-- Recommandations  -->

      <%= render :partial => 'home/index/recommendations', :locals => {:products => @recommendations} %>

      <!-- Top 10  -->
      <div id="top10-wrap">
        <h3 class="hp-ttls">Top 10 <span>Films de Vampires</span></h3>
        <div id="top10">
          <div class="top10 first">
            <h2>La Reine des Damnés</h2>
            <img src="/images/top10-stars.png" alt="" style="margin-top:4px;" />
            <p>Réalisé par : <a href="#">Francis Ford Coppola</a></p>
            <p>Acteurs :  <a href="#">Monica Bellucci</a>, <a href="#">Anthony Hopkins</a>, <a href="#">Keanu Reeves</a>, <a href="#">Cary Elwes</a>, <a href="#">Winona Ryder</a> </p>
            <p>L'heure a sonné pour la Mère de tous les Vampires. Plus que jamais, la Reine du Mal a la puissance qui rend prête à s'élever sur le trône. La chanteuse regrettée Aaliyah incarne le rôle du titre de ce ... </p>
            <a href="#" class="like-btn">Ajouter</a>
            <span class="cover dvd"><img src="/images/dracula.jpg" alt="Dracula" /></span>
            <img src="/images/1.png" alt="1" class="number" />

          </div>
          <div class="top10">
            <h2>Une Nuit en Enfer</h2>
            <a href="#" class="like-btn">Ajouter</a>
            <img src="/images/2.gif" alt="2" class="number" />
            <a href="#" class="t-arrow">Toggle</a>			
          </div>
          <div class="top10">
            <h2>Twilight : Fascination </h2>
            <a href="#" class="like-btn">Ajouter</a>
            <img src="/images/3.gif" alt="3" class="number" />
            <a href="#" class="t-arrow">Toggle</a>			
          </div>
          <div class="top10">
            <h2>Buffy Season 1</h2>
            <a href="#" class="like-btn">Ajouter</a>
            <img src="/images/4.gif" alt="4" class="number" />
            <a href="#" class="t-arrow">Toggle</a>			
          </div>
          <div class="top10">
            <h2>Underworld</h2>
            <a href="#" class="like-btn">Ajouter</a>
            <img src="/images/5.gif" alt="5" class="number" />
            <a href="#" class="t-arrow">Toggle</a>			
          </div>
          <div class="top10">
            <h2>La Reine des Damnés</h2>
            <p>L'heure a sonné pour la Mère de tous les Vampires. Plus que jamais, la Reine du Mal a la puissance qui rend prête à s'élever sur le trône. La chanteuse regrettée Aaliyah incarne le rôle du titre de ce ... </p>
            <a href="#" class="like-btn">Ajouter</a>
            <img src="/images/6.gif" alt="6" class="number" />
            <a href="#" class="t-arrow open">Toggle</a>			
          </div>
          <div class="top10">
            <h2>Thirst</h2>
            <a href="#" class="like-btn">Ajouter</a>
            <img src="/images/7.gif" alt="7" class="number" />
            <a href="#" class="t-arrow">Toggle</a>			
          </div>
          <div class="top10">
            <h2>Nosferatu</h2>
            <a href="#" class="like-btn">Ajouter</a>
            <img src="/images/8.gif" alt="8" class="number" />
            <a href="#" class="t-arrow">Toggle</a>			
          </div>
          <div class="top10">
            <h2>Le Bal des Vampires</h2>
            <a href="#" class="like-btn">Ajouter</a>
            <img src="/images/9.gif" alt="9" class="number" />
            <a href="#" class="t-arrow">Toggle</a>			
          </div>
          <div class="top10 last">
            <h2>Ultraviolet</h2>
            <a href="#" class="like-btn">Ajouter</a>
            <img src="/images/10.gif" alt="10" class="number" />
            <a href="#" class="t-arrow">Toggle</a>			
          </div>
        </div>
      </div>

      <!-- Banners  -->
      <div id="banners">
        <%= render :partial => 'home/index/banner', :locals => {:type => 'quizz'} %>
        <%= render :partial => 'home/index/banner', :locals => {:type => 'contest'} %>
        <%= render :partial => 'home/index/banner', :locals => {:type => 'shop'} %>
        <%= render :partial => 'home/index/banner', :locals => {:type => 'community'} %>
        
      </div>

      <!-- Prochainement/Nouveautés   -->
      <div id="new-m">
        <%= render :partial => 'home/index/theme', :locals => {:products => @soon} %>
        <%= render :partial => 'home/index/theme', :locals => {:products => @new, :id => 'nouv'} %>
      </div>

      <div class="clear"></div>
      <div class="end"></div>
    </div>
    <!--   ==============   END MAIN CONTENT   ==============   -->
