<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent" >
  <div class="top"></div>

  <!-- Tabs rotattor -->
  <div id="tabs-rotator">
    <ul id="tabs">
      <li><a href="#"><strong>SPECIAL</strong> Vampires</a></li>
      <li><a href="#"><strong>TOP 10</strong> des locations</a></li>
      <li><a href="#"><strong>AU cinéma</strong> en ce moment</a></li>
      <li><a href="#" class="active"><strong>Nouveauté</strong> de la semaine</a></li>
      <li><a href="#"><strong>PROCHAINEMENT</strong> chez DVDPost</a></li>
    </ul>
    <div class="panel">
      <div class="capt">
        <h2>Bienvenue à Zombieland</h2>
        <ul>
          <li><a href="#" id="rent">Louer</a></li>
          <li class="delim"></li>
          <li><a href="#" id="trailer">Bande-annonce</a></li>
        </ul>
      </div>
      <img src="/images/zombiland.jpg" alt="" /> 
    </div>
  </div>
  <!-- BIENVENUE  -->
  <%= render :partial => '/home/index/wishlist', :locals => {:wishlist_count => @wishlist_count, :transit_items => @transit_items} %>

  <!-- Flash News  -->
  <ul class="ttls-nav" id="fl-news">
    <li>
      <h3 class="hp-ttls">Flash News</h3>
    </li>
    <!--<li><a href="#">Autres publications</a></li>-->
  </ul>
  <ul id="flash-news">
    <%= render :partial => '/home/index/news', :collection => @news %>
  </ul>
  <!-- Recommandations  -->
  <%= render :partial => 'home/index/recommendations', :locals => {:products => @recommendations} %>

  <!-- Top 10  -->
  <%= render :partial => 'home/index/top10', :locals => {:products => @top10} %>

  <!-- Banners  -->
  <div id="banners">
    <%= render :partial => 'home/index/banner', :locals => {:type => 'quizz'} %>
    <%= render :partial => 'home/index/banner', :locals => {:type => 'contest'} %>
    <%= render :partial => 'home/index/banner', :locals => {:type => 'shop'} %>
    <%= render :partial => 'home/index/banner', :locals => {:type => 'community'} %>
  </div>

  <!-- Prochainement/Nouveautés   -->
  <div id="new-m">
    <%= render :partial => 'home/index/theme', :locals => {:products => @soon} %>
    <%= render :partial => 'home/index/theme', :locals => {:products => @new, :id => 'nouv'} %>
  </div>

  <div class="clear"></div>
  <div class="end"></div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
