<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent" >
  <div class="top"></div>

  <!-- Tabs rotattor -->
  <div id="tabs-rotator">
    <ul id="tabs">
      <li><a href="#"><strong>SPECIAL</strong> Vampires</a></li>
      <li><a href="#"><strong>TOP 10</strong> des locations</a></li>
      <li><a href="#"><strong>AU cinéma</strong> en ce moment</a></li>
      <li><a href="#" class="active"><strong>Nouveauté</strong> de la semaine</a></li>
      <li><a href="#"><strong>PROCHAINEMENT</strong> chez DVDPost</a></li>
    </ul>
    <div class="panel">
      <div class="capt">
        <h2>Bienvenue à Zombieland</h2>
        <ul>
          <li><a href="#" id="rent">Louer</a></li>
          <li class="delim"></li>
          <li><a href="#" id="trailer">Bande-annonce</a></li>
        </ul>
      </div>
      <img src="/images/zombiland.jpg" alt="" /> 
    </div>
  </div>
  <!-- BIENVENUE  -->
  <%= render :partial => '/home/index/wishlist', :locals => {:wishlist_count => @wishlist_count, :transit_items => @transit_items} %>

  <!-- Flash News  -->
  <ul class="ttls-nav" id="fl-news">
    <li>
      <h3 class="hp-ttls">Flash News</h3>
    </li>
    <li><a href="#">Autres publications</a></li>
  </ul>
  <ul id="flash-news">
    <li> <img src="/images/news1.gif" alt="" class="left" />
      <h3>Maintenance du site</h3>
      <p>Nous allons procéder à une maintenance de nos serveurs internet ce lundi 24 février entre 15h et 19h en vue d'améliorer les performances du site de DVDpost.</p>
    </li>
    <li> <img src="/images/news2.jpg" alt="" class="left" />
      <h3>Signé Tim Burton !</h3>
      <p>Apprenez à reconnaître la "Burton's touch" et revoyez l'interview de Tim Burton à l'occasion de la sortie de "Alice au pays des merveilles".</p>
      <p class="more"><a href="#">Lire la suite</a></p>
    </li>
    <li> <img src="/images/news3.jpg" alt="" class="left" />
      <h3>Quels films verra-t-on à Cannes ?</h3>
      <p>C'est officiel : "Robin des Bois" ouvrira le Festival de Cannes.  Mais à part ça ? DVDPost fait le point sur les rumeurs, en attendant le 15 avril, date de...</p>
      <p class="more"><a href="#">Lire la suite</a></p>
    </li>
  </ul>
  <!-- Recommandations  -->
  <%= render :partial => 'home/index/recommendations', :locals => {:products => @recommendations} %>

  <!-- Top 10  -->
  <%= render :partial => 'home/index/top10', :locals => {:products => @top10} %>

  <!-- Banners  -->
  <div id="banners">
    <%= render :partial => 'home/index/banner', :locals => {:type => 'quizz'} %>
    <%= render :partial => 'home/index/banner', :locals => {:type => 'contest'} %>
    <%= render :partial => 'home/index/banner', :locals => {:type => 'shop'} %>
    <%= render :partial => 'home/index/banner', :locals => {:type => 'community'} %>
  </div>

  <!-- Prochainement/Nouveautés   -->
  <div id="new-m">
    <%= render :partial => 'home/index/theme', :locals => {:products => @soon} %>
    <%= render :partial => 'home/index/theme', :locals => {:products => @new, :id => 'nouv'} %>
  </div>

  <div class="clear"></div>
  <div class="end"></div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
