<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent">
  <div class="top"></div>
  <% if current_customer.payment_suspended? %>
    <ul id='suspended'>
      
      <li><%= current_customer.suspended_notification %></li>
    </ul>
  <% end %>
  <!-- Tabs rotattor -->
  <%= render :partial => 'home/index/carousel', :locals => {:carousel => @carousel} %>
  <!-- BIENVENUE  -->
  <%= render :partial => '/home/index/wishlist', :locals => {:wishlist_count => @wishlist_size, :transit_items => @transit_items, :streaming_available => @streaming_available} %>
  <!-- popular movie -->
  <%= render :partial => 'home/index/popular', :locals => {:products => @popular} %>
  <!-- Recommandations  -->
  <%= render :partial => 'home/index/recommendations', :locals => {:products => @recommendations} %>
  <!-- Flash News  -->
  <%= render :partial => '/home/index/news', :locals => {:news_items => @news_items} %>
  <!-- Top 10  -->
  <%= render :partial => 'home/index/top10', :locals => {:products => @top10} %>
  <!-- Banners  -->
  <div id="banners">
    <%= render :partial => 'home/index/banner', :locals => {:type => 'quizz'} if @quizz %>
    <%= render :partial => 'home/index/banner', :locals => {:type => 'contest'} if @contest %>
    <%= render :partial => 'home/index/banner', :locals => {:type => 'shop'} if @shop%>
    <%= render :partial => 'home/index/banner', :locals => {:type => 'community'} %>
  </div>
  <!-- Prochainement/Nouveautés   -->
  <div id="new-m">
    <%= render :partial => 'home/index/theme', :locals => {:products => @recent,  :id => 'new'} %>
    <%= render :partial => 'home/index/theme', :locals => {:products => @soon, :id => 'soon'} %>
  </div>
  <div class="clear"></div>
  <div class="end"></div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
