<div id="question">
  <% form_for @message do |f| %>
    <h3>
      <%= t '.intro' %>
    </h3>
    <!--to do -->
    <p><%= link_to t('messages.index.radio_question.labels.billing'), php_path('custserfact.php') %></p>
    <p><%= link_to t('messages.index.radio_question.labels.number'), php_path('custserdvdxy.php') %></p>
    <p><%= link_to t('messages.index.radio_question.labels.billing'), php_path('custserdvdxy.php') %></p>
    <p><%= link_to t('messages.index.radio_question.labels.transfer'), php_path('custserdom.php') %></p>
    <p><%= link_to t('messages.index.radio_question.labels.promo_code'), php_path('custsercodes.php') %></p>
    <p><%= link_to t('messages.index.radio_question.labels.personal_info'), customer_path(:id => current_customer) %></p>
    <p><%= link_to t('messages.index.radio_question.labels.delivery_info'), customer_path(:id => current_customer) %></p>
    <p><%= link_to t('messages.index.radio_question.labels.mail_password'), customer_path(:id => current_customer) %></p>
    <p><%= link_to t('messages.index.radio_question.labels.pwd_forgotten'), customer_path(:id => current_customer)  %></p>
    <p><%= link_to t('messages.index.radio_question.labels.add_to_list'), php_path('custservaddtitles.php') %></p>
    <p><%= link_to t('messages.index.radio_question.labels.vacation'), customer_path(:id => current_customer) %></p>
    <%= f.hidden_field(:category_id, :value =>  6) %>
    <p>
      <%= t '.thanks' %>
    </p>
    <%= f.error_messages %>
    <%= f.text_area 'question' %>
    <% content_tag :button, :type => :submit do %>
      <%= t '.send' %>
    <% end %>
  <% end %>
  <div class="clear"></div>
</div>
