<li>
	<span class="pic-wrap"><%= image_tag item.image %></span>
	<h3><%= item.name(I18n.locale) %></h3>
  <% if current_customer.inviation_points >= item.points %>
    <% form_for :gifts_history, :url => sponsorships_gifts_history_path do |f| %>
      <%= f.hidden_field :gift_id, :value => item.to_param %>
      <%= f.hidden_field :points, :value => item.points %>
			<%= submit_tag t(".exchange"), :id => "gift" %>
		<% end %>
  <% else %>
    <%= link_to t('.more'), sponsorships_path, :class => "btn parrainner" %>
  <% end %>
  </li>