<% popular_product_item = popular_product_item.product if popular_product_item.class.name != 'Product'%>
<% path = product_path(:id => popular_product_item.to_param, :recommendation => 4) %>
<li id ="<%= html_id %>_<%= popular_product_item.to_param %>">
  <% link_to path, :class => product_media_id(popular_product_item.media) do %>
    <%= product_image_tag popular_product_item.image, :width => 76, :height => 118, :alt => "#{popular_product_item.title} (#{popular_product_item.year})" %>
  <% end %>
  <%= render :partial => 'products/wishlist_start', :locals => {:product => popular_product_item, :text => :short} %>
  <%= link_to popular_product_item.title, path, :class => 'more' %>
</li>
