<div id="addwishlist_title"><%= "#{@wishlist_item.product.title} (#{@wishlist_item.product.year})" %></div>
<div id="addwishlist_explain">
  <%= t '.intro' %>
</div>
<% form_for @wishlist_item do |f| %>
  <fieldset>
    <%= f.hidden_field :product_id %>
    <% if @serie_id.to_i > 0 %>
      <%= hidden_field_tag :serie_id, @serie_id %>
    <% end %>
    <table align="center">
      <tr>
        <td width="100" align="center">
          <%= f.label :priority_1, image_tag('high.gif', :alt => 'High') %>
        </td>
        <td width="100" align="center">
          <%= f.label :priority_2, image_tag('med.gif', :alt => 'Medium') %>
        </td>
        <td width="100" align="center">
          <%= f.label :priority_3, image_tag('low.gif', :alt => 'Low') %>
        </td>
      </tr>
      <tr>
        <td width="100" align="center">
          <%= f.radio_button :priority, '1', :checked => DVDPostConfig[:default_wishlist_priority] == :high %>
        </td>
        <td width="100" align="center">
          <%= f.radio_button :priority, '2', :checked => DVDPostConfig[:default_wishlist_priority] == :medium %>
        </td>
        <td width="100" align="center">
          <%= f.radio_button :priority, '3', :checked => DVDPostConfig[:default_wishlist_priority] == :low %>
        </td>
      </tr>
    </table>
  </fieldset>
  <p class="align" id="add_to_wishlist">
  <%= f.submit title_add_to_wishlist(:long), :class => 'item' %>
  <%= f.submit t('.add_serie'), :class => 'serie', :name => 'add_all_from_series' if @wishlist_item.product.series? %>
  </p>
  <% if @wishlist_item.product.products_next == 1 && @wishlist_item.product.available_at %>
    <p class="align">
      <strong>
        <%= t '.available' %>
      </strong>
      <%= @wishlist_item.product.available_at.strftime("%d/%m/%Y") %>
    </p>
  <% end %>
<% end %>
