<div id="addwishlist_title"><%= "#{@wishlist_item.product.title} (#{@wishlist_item.product.year})" %></div>
<div id="addwishlist_explain">
  <%= t '.intro' %>
</div>
<% form_for @wishlist_item do |f| %>
  <fieldset>
    <%= f.hidden_field :product_id %>
    <%= f.hidden_field :wishlist_source_id, :value => params[:source] %>
    <%= hidden_field_tag :submit_id, @submit_id %>
    <%= hidden_field_tag :text, @text %>
    <%= hidden_field_tag :type, :classic %>
    <%= hidden_field_tag :load_color, params[:load_color] %>
    
    <% if @serie_id.to_i > 0 %>
      <%= hidden_field_tag :serie_id, @serie_id %>
    <% end %>
    <table align="center">
      <tr>
        <td width="100" align="center">
          <%= f.label :priority_1, image_tag('high.gif', :alt => 'High'), :title => 'priority high' %>
        </td>
        <td width="100" align="center">
          <%= f.label :priority_2, image_tag('med.gif', :alt => 'Medium'), :title => 'priority medium' %>
        </td>
        <td width="100" align="center">
          <%= f.label :priority_3, image_tag('low.gif', :alt => 'Low'), :title => 'priority low' %>
        </td>
      </tr>
      <tr>
        <td width="100" align="center">
          <%= f.radio_button :priority, '1', :checked => DVDPostConfig[:default_wishlist_priority] == :high, :title => 'priority high' %>
        </td>
        <td width="100" align="center">
          <%= f.radio_button :priority, '2', :checked => DVDPostConfig[:default_wishlist_priority] == :medium, :title => 'priority medium' %>
        </td>
        <td width="100" align="center">
          <%= f.radio_button :priority, '3', :checked => DVDPostConfig[:default_wishlist_priority] == :low, :title => 'priority low' %>
        </td>
      </tr>
    </table>
  </fieldset>
  <% unless @wishlist_item.product.good_language?(DVDPost.product_languages[I18n.locale]) %>
    <div id ='attention_langues'><p><%= t '.error_language' %></p></div>
  <% end %>
  <p class="align" id="add_to_wishlist">
  <% type_button = @wishlist_item.product.next.to_i == 1 ? :reserve : :normal %>
  
  <%= f.submit title_add_to_wishlist(:long, type_button), :class => 'item', :title => title_add_to_wishlist(:long, type_button) %>
  <%= f.submit title_add_all_to_wishlist(type_button), :class => 'serie', :name => 'add_all_from_series', :title => t('.add_serie') if @wishlist_item.product.series? %>
  </p>
  <% if @wishlist_item.product.next == 1 && @wishlist_item.product.available_at %>
    <p class="align">
      <strong>
        <%= t '.available' %>
      </strong>
      <%= @wishlist_item.product.available_at.strftime("%d/%m/%Y") %>
    </p>
  <% end %>
<% end %>
