<div id="addwishlist_title"><%= "#{@wishlist_item.product.title} (#{@wishlist_item.product.year})"%></div>
<div id="addwishlist_explain">
  <%= t '.intro' %>
</div>
<% form_for @wishlist_item do |f| %>
  <fieldset>
    <%= f.hidden_field :product_id %>
    <% if @serie_id.to_i > 0 %>
      <%= hidden_field_tag :serie_id, @serie_id %>
    <% end %>
    <table align="center">
      <tr>
        <td width="100" align="center">
          <%= f.label :priority_1, image_tag('high.gif', :alt => 'Hight') %>
        </td>
        <td width="100" align="center">
          <%= f.label :priority_2, image_tag('med.gif', :alt => 'Medium') %>
        </td>
        <td width="100" align="center">
          <%= f.label :priority_3, image_tag('low.gif', :alt => 'Low') %>
        </td>
      </tr>
      <tr>
        <td width="100" align="center">
          <%= f.radio_button :priority, '1' %>
        </td>
        <td width="100" align="center">
          <%= f.radio_button :priority, '2', :checked => true %>
        </td>
        <td width="100" align="center">
          <%= f.radio_button :priority, '3' %>
        </td>
      </tr>
    </table>
  </fieldset>
  <p class="align">
  <%= f.submit_tag title_add_to_wishlist(:long) %>
  <%= f.submit_tag 'modal_ajouterbtn_serie.png',
                       :name => 'add_all_from_series',
                       :value => true if @wishlist_item.product.series? %>
  </p>
<% end %>
