<% if history_item.product %>
<div class="<%= product_media_id(history_item.product.media) %> clearfix">
  <div class="title">
    <% if history_item.product.products_status.to_i != -1 %>
      <%= link_to truncate(product_assigned_title(history_item.product), :length => 50), product_assigned_path(history_item.product) %>
    <% else %>
      <%= truncate(product_assigned_title(history_item.product), :length => 50) %>
    <% end %>
  </div>
  <div class="status">
    <% product_dvd = history_item.order_product.product_dvd %>
    <% if product_dvd %>
      <% dvd_status = product_dvd.products_dvd_status %>
      <% order_status = history_item.orders_status %>
      <% if dvd_status == 5 && (order_status == 17 || order_status == 12) %>
          <%= link_to t('wishlist_items.index.transit_item.arrive'), new_order_report_path(:order_id => history_item.to_param, :type => "arrive"), :id => "report_history_item_#{history_item.to_param}", :class => 'report_history_item' %>
      <% end %>
    <% end %>
    <span class="<%= class_history(history_item) %>">
      <%= history_item.status.name %>
      <%= "#{t('.the')} #{history_item.changed_at.strftime("%d/%m/%Y")}"  %>
    </span>
  </div>
</div>
<% else %>
  <% Product.notify_hoptoad(history_item) %>
<% end %>