<div class="on-way-with-nav">
  <div class="box" id="on-way">
    <ul class="<%= list_indicator_class(@wishlist_size) %>">
      <li class="first">
        <% if transit_items %>
          <h2><%= t '.out' %> <span><%= "#{transit_items.count} DVD" %></span></h2>
        <% elsif history_items %>
          <h2><%= t '.history' %><span><%= "#{history_items.count} DVD" %></span></h2>
        <% end %>
      </li>
      <li>
        <h2><%= t '.contains' %> <span><%= "#{wishlist_items_count} DVD" %></span></h2>
      </li>
    </ul>
    <div class="head clearfix">
      <div class="title">
        <%= t '.titles' %>
      </div>
      <div class="status"><%= t '.statuses' %></div>
    </div>
    <% if transit_items %>
      <%= render :partial => 'wishlist_items/index/transit_item', :collection => transit_items %>
    <% elsif history_items %>
      <%= render :partial => 'wishlist_items/index/history_item', :collection => history_items %>
    <% end %>
  </div>
  <ul id="on-way-nav">
    <li class="first">
      <% if history_items %>
        <%= link_to t('.see_out'), wishlist_path(:transit_or_history => 'transit'), :class => 'transit_or_history' %>
      <% else %>
        <%= link_to t('.see_history'), wishlist_path(:transit_or_history => 'history'), :class => 'transit_or_history' %>
      <% end %>
    </li>
    <li><%= link_to t('.add'), products_path %></a></li>
  </ul>
</div>
