<div class="list-ttl" id="film-list">
  <h2><% if kind == 'future_movie' %>
        <%= t('.upcoming') %>
      <% elsif kind == 'not_available_movie'%>
        <%= t('.not_available') %>
      <% else %>
        <%= t('.current') %>
      <% end %>
  </h2>
</div>
<div class="box">
  <div class="head clearfix">
    <div class="title">
      <%= t '.available_titles' %>
    </div>
    <div class="availability">
      <%= t '.availabilities' %>
    </div>
    <ul class="HML">
      <li>
        <%= t '.high' %>
      </li>
      <li>
        <%= t '.medium' %>
      </li>
      <li>
        <%= t '.low' %>
      </li>
    </ul>
    <span class="trash"><%= image_tag 'trash-icon.gif', :alt => 'Trash it' %></span>
  </div>
  <%= render :partial => 'wishlist_items/index/wishlist_item', :collection => wishlist_items %>
</div>
