<div class="list-ttl" id="film-list">
  <h2><%= kind == 'future_movie' ? t('.upcoming') : t('.current') %></h2>
</div>
<div class="box">
  <div class="head clearfix">
    <div class="title">
      <%= t '.available_titles' %>
    </div>
    <div class="availability">
      <%= t '.availabilities' %>
    </div>
    <ul class="HML">
      <li>
        <%= t '.high' %>
      </li>
      <li>
        <%= t '.medium' %>
      </li>
      <li>
        <%= t '.low' %>
      </li>
    </ul>
    <span class="trash"><%= image_tag 'trash-icon.gif', :alt => 'Trash it' %></span>
  </div>
  <%= render :partial => 'wishlist_items/index/wishlist_item', :collection => wishlist_items %>
</div>
