<div class="<%= product_media_id(wishlist_item.product.media) %> clearfix">
  <div class="title">
    <%= link_to truncate(wishlist_item.product.title, :length => 65), product_path(:id => wishlist_item.product.to_param) %> 
    <%= image_tag 'oeil.gif', :alt => 'already seen', :class => 'oeil' if wishlist_item.already_rented == 'YES' %>
  </div>
  <div class="availability"><%= wishlist_item.product.products_next == 1 && wishlist_item.product.available_at ? wishlist_item.product.available_at.strftime("%d/%m/%Y") : '&nbsp;' %></div>
  <ul class="HML" id="<%= wishlist_item.to_param %>">
    <%= render :partial => 'wishlist_items/index/priorities', :locals => {:wishlist_item => wishlist_item} %>
  </ul>
  <span class="trash">
    <%= link_to image_tag('trash-icon.gif', :alt => 'Trash it'), wishlist_item_path(:id => wishlist_item.to_param), :method => :delete %>
  </span>
</div>
