<div id="gauche">
  <div id="title">
    <strong><%= t '.title' %></strong>
  </div> 
  <div id="content_gauche">
    <table cellpadding="1" cellspacing="0">
      <tr>
        <td width="203" align="right"><strong><%= t '.client_id' %></strong></td>
        <td width="258" align="left"><%= customer.to_param %></td>
      </tr>
      <tr>
        <td align="right"><strong><%= t '.identification' %></strong></td>
        <td align="left"><%= customer.email %></td>
      </tr>
      <tr>
        <td align="right" valign="top" class="adresse"><strong><%= t '.address' %></strong></td>
        <td align="left" valign="top" class="adresse">
          <%= customer.address.name %><br/>
          <%= customer.address.street %><br/>
          <%= "#{customer.address.postal_code} #{customer.address.city}" %>
        </td>
      </tr>
      <tr>
        <td align="right" valign="top" class="adresse"></td>
        <td align="right" valign="top" id="modif">
          <ul>
            <li class="links">
              <%= link_to 'Modifier mon compte', nil, :class => 'modif' %>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2"><div class="ligne"></div></td>
      </tr>
      <tr>
        <td align="right" class="adresse"><strong>Mes points parrainage :</strong></td>
        <td align="left" class="adresse">
          <%= "#{customer.inviation_points} pts" %>
          <span><%= image_tag 'delimiter.gif' %></span>
          <%= link_to 'Parrainer un ami', nil, :class => 'modif' %>
        </td>
      </tr>
      <% if false %>
      <tr>
        <td align="right" class="adresse"><strong>Mes DVD achetés :</strong></td>
        <td align="left" class="adresse">
          2 DVD
          <span><%= image_tag 'delimiter.gif' %></span>
          <%= link_to 'Voir mon achats', nil, :class => 'modif' %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td align="right" class="adresse"><strong>Mes cotations : </strong></td>
        <td align="left" class="adresse"><%= customer.ratings.count %></td>
      </tr>
      <tr>
        <td align="right"><strong>Mes critiques :</strong></td>
        <td align="left"><%= customer.reviews.count %></td>
      </tr>
      <tr>
        <td align="right" class="adresse"><strong>Newsletters infos DVDPost :</strong></td>
        <td align="left" class="adresse">
          Activé
          <span><%= image_tag 'delimiter.gif' %></span>
          <%= link_to 'Désactivé', nil, :class => 'suppendre' %>
        </td>
      </tr>
      <tr>
        <td align="right"><strong>Newsletters Partenaires :</strong></td>
        <td align="left">
          Activé
          <span><%= image_tag 'delimiter.gif' %></span>
          <%= link_to 'Désactivé', nil, :class => 'suppendre' %>
        </td>
      </tr>
    </table>
  </div>
  <% if false %>
  <div id="code_cado">
    <div id="title"><strong>Chêques cadeaux</strong><%= image_tag 'icon_info.png', :align => 'absmiddle' %></div>
    <div id="cado">
      <%= image_tag 'pack.png', :align => 'absmiddle' %>
      <%= link_to 'Offrir un chêque cadeau', nil, :class => 'modif' %>
    </div>
    <div id="code">
      <form>
        <input name="" class="code_text" value="ACTIVER VOTRE CODE CADEAU" size="15" type="text">
    </div><!-- WTF? closing a div here inside the form? -->
        <div>
          <input class="code_bouton"src="/images/bouton_go.png" type="image">
        </div>
      </form>
  </div>
  <% end %>
</div>
