<tr>
<td colspan="2">
  <div class="rotation_dvd">
    <div class="title">
      <strong><%= t '.rotation_dvd' %></strong>
    </div>
    <div class="dvd">
      <%= image_tag 'dvd.png', :align => 'absmiddle'%>
      <%= "#{customer.normal_count} DVD" %>
      <span><%= image_tag 'delimiter.gif' %></span>
      <%= link_to image_tag('plus.png'), customer_rotation_dvd_path(I18n.locale, current_customer, :value => 1, :type => 'normal'), :class => 'suppendre add_normal' if customer.adult_count > 0 %>
    </div>
  </div>
  <div class="rotation_dvd adulte_text">
    <div class="title">
      <strong><%= t '.adult_rotation_dvd' %></strong>
    </div>
    <div class="dvd">
      <%= image_tag 'dvd_x.png', :align => 'absmiddle'%>
      <%= "#{customer.adult_count} DVD" %>
      <span><%= image_tag 'delimiter.gif' %></span>
      <%= link_to image_tag('plus.png'), customer_rotation_dvd_path(I18n.locale, current_customer, :value => 1, :type => 'adult'), :class => 'suppendre add_adult' if customer.normal_count > 0 %>
      </div>
    </div>
  </div>
  </td>
</tr>


