<div id="droite">
  <div id="title">
    <strong><%= t '.title' %></strong>
  </div>
  <div id="content_droite">
    <table cellpadding="1" cellspacing="0">
      <tr>
        <td width="207" align="right"><strong><%= t '.abo' %></strong></td>
        <td width="141" align="left">
          <%= "#{customer.subscription_type.credits == 0 ? t('.unlimited') : customer.subscription_type.credits} DVD" %>
        </td>
      </tr>
      <tr>
        <td align="right"><strong><%= t '.credit' %></strong></td>
        <td align="left">
          <%= "#{customer.credits == 0 ? t('.unlimited') : customer.credits} DVD" %>
        </td>
      </tr>
      <tr>
        <td align="right"><strong><%= t '.count_dvd' %></strong></td>
        <td align="left"><%= "#{@wishlist_size} DVD" %></td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li class="links">
              <%= link_to t('.modify_abo'), "#{php_path}subscription_change_limited.php", :class => 'modif' %>
              <span><%= image_tag 'delimiter.gif' %></span>
              <%= link_to t('.suspend_abo'), "#{php_path}/holiday_form.php", :class => 'suppendre' %>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2"><div class="ligne"></div></td>
      </tr>
      <%= render :partial => 'customers/show/rotation', :locals => {:customer => customer} %>
      <tr>
        <td colspan="2" height="10"></td>
      </tr>
      <tr>
        <td colspan="2" class="rotation">
          <strong><%= "#{t('.transit')} : #{customer.orders.in_transit.count} DVD" %></strong>
        </td>
      </tr>
      <% customer.orders.in_transit.all(:include => :product).each do |transit_item| %>
      <tr>
        <td align="left" class="transit"><%= link_to truncate(transit_item.product.title, :length => 50), product_path(:id => transit_item.product.to_param) %></td>
        <td align="right" class="transit"><%= transit_item.changed_at.strftime("%d/%m/%Y") %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="2"><div class="ligne"></div></td>
      </tr>
      <tr>
        <td align="right" class="adresse"><strong><%= t '.date_abo' %></strong></td>
        <td align="left" class="adresse">
          <%= customer.subscription.created_at.strftime("%d/%m/%Y") if customer.subscription.created_at %>
        </td>
      </tr>
      <tr>
        <td align="right"><strong><%= t '.date_end_abo' %></strong></td>
        <td align="left">
          <%= customer.subscription_expiration_date.strftime("%d/%m/%Y") %>
        </td>
      </tr>
      <tr>
        <td align="right"><strong><%= t '.type_abo' %></strong></td>
        <td align="left"><%= customer.subscription_payment_method.name.downcase %></td>
      </tr>
    </table>
  </div>
  <p><%= image_tag 'help.png' %></p>
</div>
<div class="end"></div>
