<div id="droite">
  <div id="title">
    <strong><%= t '.title' %></strong>
  </div>
  <div id="content_droite">
    <table cellpadding="1" cellspacing="0">
      <tr>
        <td width="207" align="right"><strong><%= t '.abo' %></strong></td>
        <td width="141" align="left">
          <%= "#{customer.subscription_type.credits == 0 ? t('.unlimited') : customer.subscription_type.credits} DVD" %>
        </td>
      </tr>
      <tr>
        <td align="right"><strong><%= t '.credit' %></strong></td>
        <td align="left">
          <%= current_customer.subscription_type.qty_credit == 0 ? t('.unlimited') : "#{customer.credits} DVD" %>
        </td>
      </tr>
      <tr>
        <td align="right"><strong><%= t '.count_dvd' %></strong></td>
        <td align="left"><%= "#{@wishlist_size} DVD" %></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <% if customer.subscription %>
            <ul>
              <li class="links">
                <%= link_to t('.modify_abo'), limited_subscription_change_path, :class => 'modif' %>
                <span><%= image_tag 'delimiter.gif' %></span>
                <%= link_to t('.suspend_abo'), new_customer_suspension_path(:customer_id => current_customer.to_param), :class => 'suppendre' %>
              </li>
            </ul>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2"><div class="ligne"></div></td>
      </tr>
      <%= render :partial => 'customers/show/rotation', :locals => {:customer => customer} %>
      <tr>
        <td colspan="2" height="10"></td>
      </tr>
      <tr>
        <td colspan="2" class="rotation">
          <strong><%= "#{t('.transit')} : #{customer.orders.in_transit.count} DVD" %></strong>
        </td>
      </tr>
      <% customer.orders.in_transit.all(:include => :product).each do |transit_item| %>
      <tr>
        <td align="left" class="transit"><%= link_to truncate(product_assigned_title(transit_item.product), :length => 50), product_assigned_path(transit_item.product) %></td>
        <td align="right" class="transit"><%= transit_item.changed_at.strftime("%d/%m/%Y") %></td>
      </tr>
      <% end %>
      <% if current_customer.address.belgian? %>
        <tr>
          <th colspan="2" class="rotation">
            <%= t '.streaming_available' %>
            <span>
              <%= streaming_available.count %> <%= t '.movies' %>
            </span>
          </th>
        </tr>
        <% streaming_available.each do |stream| %>
          <tr>
            <td align="left"  class="transit"><%= link_to truncate(stream.products.first.description.title, :length => 50), streaming_product_path(:id => stream.imdb_id) %></td>
            <td align="right"  class="transit"><% stream.created_at.strftime("%d/%m/%Y") %>
              <%= "#{distance_of_time_in_hours((stream.created_at + 48.hours), Time.now)}" %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td colspan="2"><div class="ligne"></div></td>
      </tr>
      <tr>
        <td align="right" class="adresse"><strong><%= t '.date_abo' %></strong></td>
        <td align="left" class="adresse">
          <%= customer.subscription.created_at.strftime("%d/%m/%Y") if customer.subscription %>
        </td>
      </tr>
      <tr>
        <td align="right"><strong><%= t '.date_end_abo' %></strong></td>
        <td align="left">
          <%= customer.subscription_expiration_date.strftime("%d/%m/%Y") if customer.subscription_expiration_date %>
        </td>
      </tr>
      <tr>
        <td align="right"><strong><%= t '.type_abo' %></strong></td>
        <td align="left"><%= customer.subscription_payment_method.name.downcase if customer.subscription_payment_method %></td>
      </tr>
      <tr>
        <td colspan='2'>
          <% if customer.subscription %>
            <ul>
              <li class='link_payment'>
                <% if current_customer.payment_method == 1 %>
                  <%= link_to t('.ogone_payment_method_change'), payment_method_change_path('ogone_change') %>
                  <span><%= image_tag 'delimiter.gif' %></span>
                <% end %>
                <%= link_to t('.payment_method_change'), payment_method_change_path %>
              </li>
            </ul>
          <% end %>
        </td>  
      </tr>
    </table>
  </div>
  <p><%= image_tag "#{DVDPost.images_language_path[I18n.locale]}/telephone.gif", :width => 375 %></p>
</div>
<div class="end"></div>
