<!--   ==============   LEFT COLUMN   ==============   -->
<div id="leftcolumn">
  <% form_tag products_path, :method => :get, :id => 'search' do %>
    <%= text_field_tag :search, 'Rechercher', :id => 's' %>
    <%= content_tag :button, 'Search', {:type => :submit, :class => 'like-btn'} %>
  <% end %>
  <ul id="left-nav">
    <li><%= link_to 'Recommandations', products_path(:recommended => true) %></li>
    <li>
      <%= link_to 'Les tops' %>
      <ul>
        <li><a href="#">Les plus drôles</a></li>
        <li><a href="#">Les plus tristes</a></li>
        <li><a href="#">Les plus effrayants</a></li>
        <li><a href="#">Les plus surprenants</a></li>
        <li><a href="#">Les plus étoilés</a></li>
        <li><a href="#">Les plus regardés</a></li>
        <li><a href="#">Les plus primés</a></li>
        <li><a href="#">Les plus commentés</a></li>
      </ul>
    </li>
    <li>
      <%= link_to 'Catégories' %>
      <ul>
        <% Category.active.roots.movies.by_kind(:normal).ordered.collect do |category| %>
        <li><%= link_to category.name, category_products_path(:category_id => category) %></li>
        <% end %>
      </ul>
    </li>
    <li><%= link_to 'Thèmes' %></li>
  </ul>
  <p id="special">
    SPECIAL <br />
    JAMES CAMERON
  </p>
  <%= render :partial => 'products/index/filters', :locals => {:soundtracks => @soundtracks, :picture_formats => @picture_formats, :countries => @countries} if params[:action] == 'index' %>
  <ul id="left-links">
    <li><%= link_to 'Enquête de satisfaction' %></li>
    <li><%= link_to 'Parrainer un ami' %></li>
    <li><%= link_to 'Offrir un chèque cadeau', '', {:id => 'gift'} %></li>
    <li><%= link_to 'Proposer un DVD' %></li>
  </ul>
</div>
<!--   ==============   END LEFT COLUMN   ==============   -->
