<!--   ==============   LEFT COLUMN   ==============   -->
<% parameters = params[:action] == 'index' ? params : {} %>
<div id="leftcolumn">
  <% form_tag filter_path, :method => :get, :id => 'search' do %>
    <%= text_field_tag :search, params[:search] || t('.search'), :id => 'search-field' %>
    <%= content_tag :button, t('.search'), {:type => :submit, :class => 'like-btn'} %>
    <ul id="left-nav">
      <li><%= link_to t('.recommendations'), products_path(parameters.merge(:view_mode => :recommended, :top_id => nil)) %></li>
      <li>
        <%= link_to t('.tops'), products_path(parameters) %>
        <ul>
          <% ProductList.status.top.by_language(DVDPost.product_languages[I18n.locale]).collect do |top| %>
            <li><%= link_to top.name, top_products_path(:top_id => top, :theme_id => nil, :view_mode => nil) %></li>
          <% end %>
        </ul>
      </li>
      <li>
        <%= link_to t('.categories'), products_path(parameters) %>
        <ul id="cat">
          <%= left_column_categories(@category, parameters) %>
        </ul>
      </li>
      <li><%= link_to t('.new'), products_path(parameters.merge(:view_mode => :recent, :theme_id => nil, :top_id => nil)) %></li>
      <li><%= link_to t('.soon'), products_path(parameters.merge(:view_mode => :soon, :theme_id => nil, :top_id => nil)) %></li>
    </ul>
    <p id="special">
      <% special = ProductList.status.theme.highlighted.by_language(DVDPost.product_languages[I18n.locale]).first %>
      <%= link_to special.name, theme_products_path(parameters.merge(:theme_id => special, :top_id => nil, :view_mode => nil)) %>
    </p>
    <%= render :partial => 'products/index/filters', :locals => {:countries => @countries} if params[:action] == 'index' %>
  <% end %>
</div>
<!--   ==============   END LEFT COLUMN   ==============   -->
