<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent">
  <div id="title"><%= products_index_title %></div>
  <%= render :partial => 'layouts/filters' %>
  <div id="titles-wrap">
    <div class="top"></div>
    <%= render :partial => 'products/index/movie_detail', :collection => @products %>
    <% if @products.size == 0 && params[:view_mode] == 'recommended' %>
      <%= t '.recommendations_unavailable' %>
    <% end %>
    <div class="end"></div>
  </div>
  <%= will_paginate @products, :class => 'products-pagination', :previous_label => '&nbsp;', :next_label => '&nbsp;' %>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
<%= render :partial => 'products/left_column', :locals => {:filter => @filter} %>
