<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent" >
  <div id="title">SPECIAL JAMES CAMERON</div>
  <div id="title">MES RECHERCHES</div>
  <ul id="filtered" class="clearfix">
    <li>
      <strong>TECHNOLOGIE</strong>
      <%= params[:media].keys.join(', ') if params[:media] %>
    </li>
    <li>
      <strong>PUBLIC</strong>
      <%= "de #{params[:public_min]} à #{params[:public_max]}" if params[:public_min] && params[:public_max] %>
    </li>
    <li>
      <strong>TYPE</strong>
      <%= params[:type].keys.join(', ') if params[:type] %>
    </li>
    <li>
      <strong>ANNée</strong>
      <%= "de #{params[:year_min]} à #{params[:year_max]}" if params[:year_min] && params[:year_max] %>
    </li>
    <li>
      <strong>Son</strong>
      <%= @selected_soundtracks.collect(&:name).join(', ') if params[:soundtrack] %>
    </li>
    <li>
      <strong>Format</strong>
      <%= @selected_picture_format.name if params[:picture_format] && !params[:picture_format].empty? %>
    </li>
    <li>
      <strong>durée</strong>
      <%= "de #{params[:duration_min]} à #{params[:duration_max]}" if params[:duration_min] && params[:duration_max] %>
    </li>
    <li>
      <strong>PRIX</strong>
      <%= params[:price].split(',').join(', ') if params[:price] %>
    </li>
    <li id="close-f"><a href="#" class="like-btn">Fermer</a></li>
  </ul>
  <div id="titles-wrap">
    <div class="top"></div>
    <%= render :partial => 'products/index/movie_detail', :collection => @products %>
    <%= will_paginate @products, :previous_label => localized_image_tag('prec_on.gif'), :next_label => localized_image_tag('suivant_on.gif'), :page_links => false %>
    <!-- View Options -->
    <% if false %>
    <ul id="views">
      <li><%= link_to "Grid View", '', {:id => 'grid-view'} %></li>
      <li><%= link_to "List View", '', {:id => 'list-view', :class => 'active'} %></li>
      <li><%= link_to "Details View", '', {:id => 'details-view'} %></li>
    </ul>
    <% end %>
    <div class="end"></div>
  </div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
<%= render :partial => 'products/left_column' %>
