<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent" >
  <div id="title">SPECIAL JAMES CAMERON</div>
  <div id="titles-wrap">
    <div class="top"></div>
    <% @products.collect do |product| %>
      <%= render :partial => 'products/index/movie_detail', :locals => {:product => product} %>
    <% end %>
    <!-- AFFICHER LES 10 DVD SUIVANTS -->
    <a href="#" id="next10">AFFICHER LES 10 DVD SUIVANTS</a>	
    <!-- View Options -->	
    <ul id="views">
      <li><%= link_to "Grid View", '', {:id => 'grid-view'} %></li>
      <li><%= link_to "List View", '', {:id => 'list-view', :class => 'active'} %></li>
      <li><%= link_to "Details View", '', {:id => 'details-view'} %></li>
    </ul>
    <div class="end"></div>
  </div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
<%= render :partial => 'products/left_column' %>
