<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent" >
  <div id="detail-wrap">
    <div class="top"></div>
    <!-- Detail -->
    <div id="breadcrumb"><a href="#">Emotion/drame</a> &rsaquo; Destin</div>
    <h2><%= "#{@product.title} (#{@product.year})" %></h2>
    <div class="box">
      <div class="box-content clearfix"> <img src="/images/right-shadow-top.gif" alt="" class="right" />
        <div id="details">
          <div id="movie-info">
            <ul>
              <li><strong>Réalisé par :</strong> <strong><%= link_to @product.director.name %></strong></li>
              <li><strong>Acteurs :</strong> <%= @product.actors.collect{|actor| link_to actor.name}.join(', ') %></li>
              <%= "<li><strong>titre original :</strong> #{@product.original_title}" unless @product.title == @product.original_title %>
              <li><strong>Durée :</strong> <%= "#{@product.runtime} minutes" %></li>
              <li><strong>Genre :</strong> <%= @product.categories.collect{|category| category.name}.join(', ') %></li>
              <li><strong>Pays :</strong> <%= @product.country.name %></li>
              <li><strong>Public :</strong> <%= image_tag @product.public.image, :alt => @product.public.description %></li>
            </ul>
            <p class="links">
              <%= link_to('Bande-annonce', @product.trailer.url, {:class => 'trailer', :target => :_blank}) if @product.trailer %>
              <%= content_tag(:span, image_tag('delimiter.gif')) if @product.trailer && @product.description.url_present? %>
              <%= link_to('Site officiel', @product.description.full_url, {:class => 'link', :target => :_blank}) if @product.description.url_present? %>
            </p>
            <p>
              Audio : <%= Language.by_language(I18n.locale).preferred.collect{|language| image_tag "#{language.code}-#{@product.languages.preferred.include?(language) ? 'yes' : 'no'}.png" } %>
              Sous-titres : <%= Subtitle.by_language(I18n.locale).preferred.collect{|subtitle| image_tag "#{subtitle.code}-#{@product.subtitles.preferred.include?(subtitle) ? 'yes' : 'no'}.png" } %>
            </p>
            <%= render :partial => 'products/show/awards', :locals => {:product => @product , :size=> 'small' } %>
            <p>
              <strong>Image :</strong> <%= @product.picture_format.name %><br />
              <strong>Détail du son :</strong> <%= @product.soundtracks.collect{|soundtrack| soundtrack.name}.join(', ') %>
            </p>
            <div class="cover">
              <span id="<%= product_media_id(@product.media) %>">
                <%= product_image_tag @product.image, :width => 145, :height => 220, :alt => "#{@product.title} (#{@product.year})" %>
                <%= content_tag(:span, '', :class => 'new') if @product.is_new? %>
              </span>
              <%= render :partial => 'products/wishlist', :locals => {:product => @product} %>
            </div>
          </div>
          <div class="action">
            <%= content_tag :div, "#{image_tag 'dvdpost-coup.png'} Coup de coeur DVDPost", :id => "dvdpost-coup" if @product.dvdposts_choice? %>
            <div align="center"><strong>Cotez ce film</strong></div>
            <ul>
              <li class="stars" id="rating-stars-<%= @product.to_param %>" product_id ="<%= @product.to_param %>">
                <%= render :partial => 'products/rating', :locals => {:product => @product} %>
              </li>
              <li class="links" id="seen-uninterested-<%= @product.to_param %>">
                <%= render :partial => 'products/show/seen_uninterested', :locals => {:product => @product} %>
              </li>
            </ul>
            <%= available_on_other_media(@product) %>
            <%= available_on_other_language(@product) %>
            
            <% if @product.available_to_sale? %>
              <div id="buy">
                <%= link_to 'Acheter', "http://www.dvdpost.be/product_info_shop.php?products_id=#{@product.products_id}", :class => 'like-btn', :id => 'acheter-btn' , :target=> :_blank %>
                <%= "&euro; #{@product.products_sale_price} " %>
              </div>
            <% end %>
            <%= image_tag 'oeil.gif', :alt => 'already seen' if @already_seen %>
          </div>
          <div class="clear"></div>
          <div id="sinopsis">
            <h3>Synopsis</h3>
            <p><%= @product.description.text %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Detail -->
    <!-- Critique -->
    <ul class="tabs">
      <li><a href="#tab1">CRITIQUES DES MEMBRES DVDPOST</a></li>
      <li><a href="#tab2">LA CRITIQUE DE CINOPSIS.BE</a></li>
    </ul>
    <div class="box">
      <div class="box-content clearfix">
        <img src="/images/right-shadow-top.gif" alt="" class="right" />
        <div class="tab_container">
          <div id="tab1" class="tab_content">
            <% if @reviews_count > 0 %>
              <%= render :partial => 'products/show/reviews', :locals => {:product => @product, :reviews_count => @reviews_count, :reviews => @reviews} %>
            <% else %>
              <%= "Pas de critique d'utilisateur: #{link_to "Soyez le premier à publier une critique de #{@product.title}!", new_product_review_path(:product_id => @product.to_param), :id => 'new_review'}" %>
            <% end %>
          </div>
          <div id="tab2" class="tab_content">
            LA CRITIQUE DE CINOPSIS.BE
          </div>
        </div>
      </div>
    </div>
    <!-- End Critique -->
    <!-- Carousel -->
    <!--div id="carousel-wrap">
      <h2>LES MEMBRES ONT AUSSI LOUé</h2>
      <div id="carousel">
        <ul>
          <li>
            <span class="stars"><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-off.png" alt="" /></span>
            <span class="dvd"><img src="/images/poster-mid.jpg" alt="" /><span class="new"></span></span>
            <a href="#" class="like-btn">Ajouter</a>
            Public Enemies
          </li>
          <li>
            <span class="stars"><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-off.png" alt="" /></span>
            <span class="bluray"><img src="/images/poster-mid.jpg" alt="" /></span>
            <a href="#" class="like-btn">Ajouter</a>
            Les Noces Rebelles
          </li>
          <li>
            <span class="stars"><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-off.png" alt="" /></span>
            <span class="bluray"><img src="/images/poster-mid.jpg" alt="" /></span>
            <a href="#" class="like-btn">Ajouter</a>
            L'Etrange Histoire de Benjamin Button
          </li>
          <li>
            <span class="stars"><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-off.png" alt="" /></span>
            <span class="bluray"><img src="/images/poster-mid.jpg" alt="" /></span>
            <a href="#" class="like-btn">Ajouter</a>
            Les Noces Rebelles
          </li>
          <li>
            <span class="stars"><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-off.png" alt="" /></span>
            <span class="bluray"><img src="/images/poster-mid.jpg" alt="" /></span>
            <a href="#" class="like-btn">Ajouter</a>
            Les Noces Rebelles
          </li>
          <li>
            <span class="stars"><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-on.png" alt="" /><img src="/images/sm-star-off.png" alt="" /></span>
            <span class="bluray"><img src="/images/poster-mid.jpg" alt="" /></span>
            <a href="#" class="like-btn">Ajouter</a>
            Les Noces Rebelles
          </li>
        </ul>
        <a href="#" class="like-btn" id="prev">Previous</a>
        <a href="#" class="like-btn" id="next">Next</a>
      </div>
    </div-->
    <!-- End Carousel -->
    <div class="end"></div>
  </div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
<%= render :partial => 'products/left_column' %>
