<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent" >
  <div id="detail-wrap">
    <div class="top"></div>
    <!-- Detail -->
    
    <h2>
      <%= "#{@product.title} (#{@product.year})" %>
    </h2>
    <div class="box">
      <div class="box-content clearfix">
        <img src="/images/right-shadow-top.gif" alt="" class="right" />
        <div id="details">
          <div id="movie-info">
            <%= render :partial => 'products/show/product', :object => @products %>
          </div>
          <div class="action">
            <% if @product.dvdposts_choice? %>
              <div id="dvdpost-coup">
                <%= image_tag 'dvdpost-coup.png' %>
                <%= t '.dvdpost_choice' %>
              </div>
            <% end %>
            <div align="center">
              <strong>
                <%= t '.rate' %> 
              </strong>
            </div>
            <ul>
              <li class="stars" id="rating-stars-<%= @product.to_param %>" product_id ="<%= @product.to_param %>">
                <%= render :partial => 'products/rating', :locals => {:product => @product, :background => :white} %>
              </li>
              <li class="links" id="seen-uninterested-<%= @product.to_param %>">
                <%= render :partial => 'products/show/seen_uninterested', :locals => {:product => @product} %>
              </li>
            </ul>
            <%= available_on_other_media(@product) %>
            <%= available_on_other_language(@product) %>
            <% if @product.available_to_sale? %>
              <div id="buy">
                <%= link_to 'Acheter', "http://www.dvdpost.be/product_info_shop.php?products_id=#{@product.products_id}", :class => 'like-btn', :id => 'acheter-btn' , :target=> :_blank %>
                <%= "&euro; #{@product.products_sale_price} " %>
              </div>
            <% end %>
            <%= image_tag 'oeil.gif', :alt => 'already seen' if @already_seen %>
          </div>
          <div class="clear"></div>
          <div id="sinopsis">
            <h3>
              <%= t '.synopsis' %>
            </h3>
            <p><%= @product.description.text %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Detail -->
    <!-- Carousel -->
    <%= render :partial => 'products/show/recommendations', :object => @recommendations %>
    <!-- End Carousel -->
    
    <!-- Critique -->
    <ul class="tabs">
      <li class="active" id='tab1_li'>
        <%= link_to t('.members_critic'), '#tab1', :id => 'tab1_menu' %>
      </li>
      <% unless @cinopsis.empty? %>
        <li id='tab2_li'>
          <%= link_to t('.cinopsis_critic'), '#tab2', :id => 'tab2_menu' %>
        </li>
      <% end %>
    </ul>
    <div class="box">
      <div class="box-content clearfix">
        <img src="/images/right-shadow-top.gif" alt="" class="right" />
        <div class="tab_container">
          <div id="tab1" class="tab_content">
            <% if @reviews_count > 0 %>
              <%= render :partial => 'products/show/reviews', :locals => {:product => @product, :reviews_count => @reviews_count, :reviews => @reviews} %>
            <% else %>
              <%= t '.no_review' %>
              <%= link_to "#{t('.be_the_first')} #{@product.title}!", new_product_review_path(:product_id => @product.to_param), :id => 'add_new_review' %>
            <% end %>
          </div>
          <div id="tab2" class="tab_content" style="display:none">
            <%= @cinopsis %>
          </div>
        </div>
      </div>
    </div>
    <!-- End Critique -->
    <div class="end"></div>
  </div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
<%= render :partial => 'products/left_column' %>
