<div class="content">
  <div id="critical_title"><%= "#{@product.title} (#{@product.year})"%></div>
  <% form_for @review, :url => product_reviews_path(:product_id => @review.products_id) do |f| %>
  <fieldset>
		<p class="critical_explain"> 
	    <%= f.label t('.review_note') %> : 
	  </p>
	  <%= render :partial => 'products/rating_review', :locals => {:product => @product} %>
	  <%= f.hidden_field :rating %>
	  
		<p class="critical_explain">
		    <%= f.label t('.review_title') %> :
		</p>
		<%= f.text_area :text, :class => 'input',:cols => 45, :rows => 10 %>
	  <p class="critical_explain_footer">
	     <%= t('.review_warning') %>
	  </p>
	  <p align="right">
	    <%= f.submit t('.create'), :class => 'review_new' %>
	  </p>
  </fieldset>
  <br/>
<% end %>
</div>
