<tr class="choose_color">
  <td class="choose_padding">
    <p>
      AUDIO : <%= kind.language.by_language(I18n.locale).first.name %> <br />
      <% if kind.subtitle.count > 0 %>
        <%= t '.subtitle' %> : <%= kind.subtitle.by_language(I18n.locale).first.name %>
      <% else %>
        <%= t '.without_subtitle' %>
      <% end %>
    </p>
  </td>
    <% qualities = ['LOW'] %>
    <% qualities.each do |quality| %>
  <td>
    <div class="quality_vod">
      <%= link_to t(".#{quality.downcase}"), streaming_product_path(:streaming_product_id => kind.to_param, :quality => quality), :class => "btn qualityvod", :id =>  quality %>
    </div>
    <div class="status_vod">
       <%= link_to t('.alert'), new_streaming_product_report_path(:streaming_product_id => params[:id],:reference_id => kind.to_param), :class => :connect_linkpc, :id => :report %>   
    </div>
    
  </td>
    <% end %>
</tr>
<tr class="choose_empty">
  <td></td>
</tr>