<div id="footer" >
  <div id="subfooter">
    <div id="footer-nav">
      <h3>
        <%= t '.quick_links' %>
      </h3>
      <ul>
        <li><%= link_to t('.who'), who_we_are_path %></li>
        <li><%= link_to t('.press'), press_path %></li>
        <li><%= link_to t('.privacy'), privacy_path %></li>
        <li><%= link_to t('.conditions'), conditions_path %></li>
      </ul>
      <ul id="contacts">
        <li>
          <h4><%= t '.contact' %></h4>
        </li>
        <li><%= link_to t('.faq'), faq_path %></li>
        <li><%= link_to t('.sponsor_a_friend'), sponsor_path %></li>
        <li><%= link_to t('.contest'), contest_path %></li>
        <li><%= link_to t('.quizz'), quizz_path %></li>
      </ul>
    </div>
    <%= render :partial => 'layouts/partners', :locals => {:partners => partners} %>
    <div class="clear"></div>
    <p id="copyr"><%= t '.copyright' %> </p>
  </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-7319107-1");
  pageTracker._trackPageview();
  } catch(err) {}
</script>
<!-- Google Code for Ogone Confirmation Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1033549176;
var google_conversion_language = "en_US";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "84cwCJayjwEQ-Orq7AM";
if (20.0) {
  var google_conversion_value = 20.0;
}
//-->
</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <img height="1" width="1" border="0" src="https://www.googleadservices.com/pagead/conversion/1033549176/?value=20.0&amp;label=84cwCJayjwEQ-Orq7AM&amp;guid=ON&amp;script=0"/>
</noscript>
