<div id="footer" >
  <div id="subfooter">
    <div id="footer-nav">
      <h3>
        <%= t '.quick_links' %>
      </h3>
      <ul>
        <li><a href="<%= "#{php_path}whoweare.php" %>"><%= t '.who' %></a></li>
        <li><a href="<%= "#{php_path}presse.php" %>"><%= t '.press' %></a></li>
        <li><a href="<%= "#{php_path}privacy.php" %>"><%= t '.privacy' %></a></li>
        <li><a href="<%= "#{php_path}conditions.php" %>"><%= t '.conditions' %></a></li>
      </ul>
      <ul id="contacts">
        <li>
          <h4><%= t '.contact' %></h4>
        </li>
        <li><%= link_to t('.faq'), faq_path %></a></li>
        <li><a href="<%= "#{php_path}member_get_member.php" %>"><%= t '.sponsor_a_friend' %></a></li>
        <!--<li><a href="#"><%= t '.gift_card' %></a></li>-->
        <li><a href="<%= "#{php_path}contest.php" %>"><%= t '.contest' %></a></li>
        <li><a href="<%= "#{php_path}quizz.php" %>"><%= t '.quizz' %></a></li>
      </ul>
    </div>
    <%= render :partial => 'layouts/partners', :locals => {:partners => partners} %>
    <div class="clear"></div>
    <p id="copyr"><%= t '.copyright' %> </p>
  </div>
</div>
