<div id="footer" >
  <div id="subfooter">
    <div id="footer-nav">
      <h3>
        <%= t '.quick_links' %>
      </h3>
      <ul>
        <li><%= link_to t('.who'), who_we_are_path %></li>
        <li><%= link_to t('.press'), press_path %></li>
        <li><%= link_to t('.privacy'), privacy_path %></li>
        <li><%= link_to t('.conditions'), conditions_path %></li>
      </ul>
      <ul id="contacts">
        <li>
          <h4><%= link_to t('.contact'), new_phone_request_path %></h4>
        </li>
        <li><%= link_to t('.faq'), faq_path %></li>
        <li><%= link_to t('.sponsor_a_friend'), sponsorships_path %></li>
        <li><%= link_to t('.contest'), new_contest_path %></li>
        <li><%= link_to t('.quizz'), quizzes_path %></li>
      </ul>
    </div>
    <%= render :partial => 'layouts/partners', :locals => {:partners => partners} %>
    <div class="clear"></div>
    <p id="copyr"><%= t '.copyright' %> </p>
  </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-7319107-1");
  pageTracker._trackPageview();
  } catch(err) {}
</script>
<!-- Google Code for Clients &lt;30 days Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1033549176;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "2DPWCOjT1gEQ-Orq7AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1033549176/?label=2DPWCOjT1gEQ-Orq7AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
