<div id="header" <%= "class='small'" if @hide_menu %>>
  <h1>
    <%= link_to t('.tagline'), root_path, :class => 'like-btn' %>
  </h1>
  <ul id="login" class="subnav">
    <li class="first">
      <% if current_customer %>
        <%= "#{link_to t('.logout'), sign_out_path} (#{current_customer.email})" %>
      <% end %>
    </li>
    <li>
      <%= link_to t('.help'), faq_path if current_customer %>
    </li>
    <li>
      <%= switch_locale_link I18n.locale, {:id => 'lang'} %>
      <span id="lang-box">
        <% Locale.all.collect(&:short).collect do |locale| %>
          <%= switch_locale_link locale unless locale.to_s == I18n.locale.to_s %>
        <% end %>
      </span>
    </li>
  </ul>
  <%  unless @hide_menu %>
  <ul id="subnav" class="subnav">
    <li class="first">
      <%= link_to content_tag(:strong, t('.rent')) %>
    </li>
    <li>
      <%= link_to t('.adult'), adult_path %>
    </li>
    <li>
      <%= link_to t('.buy'), my_shop_path, :id => 'cart' %>
    </li>
  </ul>
  <% end %>
  <%= render :partial => 'layouts/menu' unless @hide_menu %>
</div>
