<div id="header" >
  <h1><%= link_to t('.tagline'), root_path, :class => 'like-btn' %></h1>
  <ul id="login" class="subnav">
    <li class="first">
      <% if current_customer %>
        <%= "#{link_to t('.logout'), sign_out_path} (#{current_customer.email})" %>
      <% else %>
        <%= link_to t('.login'), sign_in_path %>
      <% end %>
    </li>
    <li>
      <%= link_to t('.help'), faq_path %>
    </li>
    <li>
      <%= switch_locale_link I18n.locale, {:id => 'lang'} %>
      <span id="lang-box">
        <% Locale.all.collect(&:short).collect do |locale| %>
          <%= switch_locale_link locale unless locale.to_s == I18n.locale.to_s %>
        <% end %>
      </span>
    </li>
  </ul>
  <ul id="subnav" class="subnav">
    <li class="first">
      <%= link_to content_tag(:strong, t('.rent')) %>
    </li>
    <li>
      <%= link_to t('.adult'), adult_path %>
    </li>
    <li>
      <%= link_to t('.buy'), my_shop_path, :id => 'cart' %>
    </li>
  </ul>
  <ul id="nav">
  <% id = yield :body_id %>
    <li><%= link_to t('.home'), root_path, {:id => 'n1', :class => (( id == 'one-col') ? 'active': '')} %></li>
    <li><%= link_to t('.explore'), products_path, {:id => 'n2', :class => (( id == 'product_body') ? 'active': '')} %></li>
    <li><%= link_to t('.wishlist'), wishlist_path, {:id => 'n3', :class => (( id == 'mywhishlist') ? 'active': '')} %></li>
    <li>
      <% link_to messages_path, {:id => 'n4', :class => (( id == 'message_body') ? 'active': '') } do %>
        <%= t '.contact' %><span><%= @messages_size %></span>
      <% end %>
    </li>
    <li><%= link_to t('.compte'), customer_path(:id => current_customer), {:id => 'n5', :class => (( id == 'moncompte') ? 'active': '')} %></li>
    <li><%= link_to t('.summer_card'), sponsor_path, {:id => 'n6'} %></li>
    <li id="indicator">
      <%= render :partial => 'layouts/list_indicator', :locals => {:wishlist_size => @wishlist_size} %>
    </li>
  </ul>
</div>
