<%= link_to t('.indicator'), indicator_closed_path , :id => 'n7', :class => list_indicator_class(wishlist_size) %>
<ul id="indicator-tips" <%= "style='display:none'" if session[:indicator_stored] %>>
  <li>
    <h3>
      <%= t '.title' %>
    </h3>
  </li>
  <li>
    <p>
      <% if wishlist_size <= 1 %>
        <%= t ".you_have_#{wishlist_size}" %>
      <% else %>
        <%= "#{t('.you_have_pre')} #{wishlist_size} #{t('.you_have_post')}" %>
      <% end %>
    </p>
  </li>
  <li class="indicator" id="ind0-10">
    <%= t '.between_0_and_10' %>
  </li>
  <li class="indicator" id="ind10-30">
    <%= t '.between_10_and_30' %>
  </li>
  <li class="indicator" id="ind30-plus">
    <%= t '.more_than_30' %>
    
  </li>
  <li id="close">
    <%= link_to t('.close'), indicator_closed_path %>
  </li>
</ul>
