<ul id="nav">
<% id = yield :body_id %>
  <li><%= link_to t('layouts.header.home'), root_path, {:id => 'n1', :class => (( id == 'one-col') ? 'active': '')} %></li>
  <li><%= link_to t('layouts.header.explore'), products_path, {:id => 'n2', :class => (( id == 'product_body') ? 'active': '')} %></li>
  <li><%= link_to t('layouts.header.wishlist'), wishlist_path, {:id => 'n3', :class => (( id == 'mywhishlist') ? 'active': '')} %></li>
  <li>
    <% link_to messages_path, {:id => 'n4', :class => (( id == 'message_body') ? 'active': '') } do %>
      <%= t '.contact' %><span><%= @messages_size %></span>
    <% end %>
  </li>
  <li><%= link_to t('layouts.header.compte'), customer_path(:id => current_customer), {:id => 'n5', :class => (( id == 'moncompte') ? 'active': '')} %></li>
  <li><%= link_to t('layouts.header.summer_card'), sponsorships_path, {:id => 'n6', :class => (( id == 'sponsorships') ? 'active': '')} %></li>
  <li id="indicator">
    <%= render :partial => 'layouts/list_indicator', :locals => {:wishlist_size => @wishlist_size} %>
  </li>
</ul>