<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" >
<head>
<title>- DVDPost - Online DVD rental</title>
<meta name="verify-v1" content="PQdsGfiSvfFZFXwp5ZRxDgw37x89LYLkoOy2X5uD7tY=" />
<meta name="verify-v1" content="Fh6utipb6BPbYsezoaWU0qwP+ODl0ioypAFfh41Qbu0=" />
<meta name="description" content=" - Rent your DVDs in Benelux for only 7.95 EUR a month. Free postage. No late fees ever. Choose between more than 27,000 titles. Start your free trial now!" />
<meta name="keywords" content="dvd, dvd rental, dvd rent, movie rent, movie rental, movie rental online, online dvd rental, video rental, online video rental, rent movie, dvd club, dvd rental Belgium, movie rental Belgium, video rental Belgium, DVDPost, DVDPoste, www.dvdpost.be, www.dvdpost.com, dvd post, dvd poste, www.dvdpost.be,
location dvd, location film, film a louer, location dvd internet, location dvd en ligne, location dvd belgique, location film Belgique, 
online videotheek, dvd verhuur, dvd huren, huurfilms, dvd verhuur Belgie, dvd huren Belgie" />
<meta name="y_key" content="6dad1b79d5decc74" />
<meta name="author" content ="Home Entertainment Services" />
<meta name="Revisit-after" content="14 days" />
<meta name="Robots" content="all" />
<meta name="google-site-verification" content="bVK9E1XaKKd3WZH2L9mVBBRLomFtP0zmex-k8Jzm7Sk" />
<link rel="SHORTCUT ICON" href="/favicon.ico" />
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<%= stylesheet_link_tag 'style.css' %>
<%= stylesheet_link_tag 'facebox.css' %>
<%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.custom.css' %>
<%= stylesheet_link_tag 'jquery_custom.css' %>
<!--%= stylesheet_link_tag 'print.css', :media => 'print' %-->
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'products', 'wishlist', 'reviews' %>
<%= javascript_include_tag 'jquery.ba-url.min' %>
<%= javascript_include_tag 'jquery-ui-1.8.custom.min' %>
<%= javascript_include_tag 'jquery.query-2.1.7' %>
<%= javascript_include_tag 'facebox' %>
<%= javascript_include_tag 'json2' %>
<!--[if IE 6]>
<%= javascript_include_tag 'DD_belatedPNG' %>
<%= javascript_include_tag 'ie6-dd-decl' %>
<![endif]-->
</head>
<body id="<%= @body_id || '' %>">
<div id="wrap">
  <!--   ==============   HEADER   ==============   -->
  <%= render :partial => 'layouts/header' %>
  <!--   ==============   END HEADER   ==============   -->
  <div class="container clearfix" >
    <%= flash[:notice] %>
    <%= yield :layout %>
  </div>
</div>
<!--   ==============   FOOTER   ==============   -->
<%= render :partial => 'layouts/footer' %>
<!--   ==============   END FOOTER   ==============   -->
<%= hide_wishlist_if_seen %>
</body>
</html>
