<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" >
<head>
  <title>
    <%= h yield(:title).blank? ? t('.title') : yield(:title) %>
  </title>
  <%= render :partial => 'layouts/meta' %>
  <link rel="SHORTCUT ICON" href="/favicon.ico" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <%= stylesheet_link_tag 'style', :media => :all %>
  <%= stylesheet_link_tag 'facebox', :media => :all %>
  <%= stylesheet_link_tag 'messages', :media => :all %>
  <%= stylesheet_link_tag 'fonts', :media => :all %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.custom', :media => :all %>
  <%= stylesheet_link_tag 'jquery_custom', :media => :all %>

  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.1.custom.min' %>
  <%= javascript_include_tag 'jquery.ba-url.min' %>
  <%= javascript_include_tag 'jquery.query-2.1.7' %>
  <%= javascript_include_tag 'jquery.cycle.all.min' %>
  <%= javascript_include_tag 'jquery.form' %>
  <%= javascript_include_tag 'facebox' %>
  <%= javascript_include_tag 'json2' %>
  <%= javascript_include_tag 'application' %>

  <!--[if IE 6]>
  <%= javascript_include_tag 'DD_belatedPNG' %>
  <%= javascript_include_tag 'ie6-dd-decl' %>
  <![endif]-->
	<%= yield :facebook %>
  <%= yield :head %>
</head>
<body id="<%= yield :body_id %>">
  <div id="wrap">
    <!--   ==============   HEADER   ==============   -->
    <%= render :partial => 'layouts/header' %>
    <!--   ==============   END HEADER   ==============   -->
    <div class="container clearfix">
      <% if flash[:notice] %>
        <p class="notice">
          <%= flash[:notice] %>
        </p>
      <% end %>
      <% if flash[:error] %>
        <p class="flash_error">
          <%= flash[:error] %>
        </p>
      <% end %>
      <%= yield %>
    </div>
    <!--   ==============   FOOTER   ==============   -->
    <%= render :partial => 'layouts/footer', :locals => {:partners => @partners} %>
    <!--   ==============   END FOOTER   ==============   -->
  </body>
</html>
