<div id="filters">
  <h3>
    <%= t '.refine' %>
  </h3>
  <% path = params[:category_id] && !params[:category_id].empty? ? category_products_path(:category_id => params[:category_id]) : products_path %>
  <% form_tag path, :method => :get do %>
    <% field_set_tag do %>
    <ul>
      <li class="technology open">
        <%= link_to t('.tech') %>
        <div>
          <label>
            <%= filter_checkbox_tag :media, :dvd %>
            <%= t '.dvd' %>
          </label>
          <label>
            <%= filter_checkbox_tag :media, :bluray %>
            <%= t '.bluray' %>
          </label>
        </div>
      </li>
      <li class="public open">
        <%= link_to t('.public') %>
        <div id="public-slider">
          <%= hidden_field_tag :public_min, (params[:public_min] || 0) %>
          <%= hidden_field_tag :public_max, (params[:public_max] || 18) %>
          <ul id="public_labels">
            <% ['ALL', '-10', '-12', '-16', '-18'].collect do |p| %>
              <li><%= p %></li>
            <% end %>
          </ul>
          <div id="public-slider-range"></div>
        </div>
      </li>
      <li class="country open">
        <%= link_to t('.countries') %>
        <div>
          <%= select_tag :country, options_for_select(countries.collect{|country| [country.name, country.to_param]}.insert(0, ['Any', 0]), :selected => params[:country]) %>
        </div>
      </li>
      <li class="year open">
        <%= link_to t('.year') %>
        <div id="year-slider">
          <%= hidden_field_tag :year_min, (params[:year_min] || 0) %>
          <%= hidden_field_tag :year_max, (params[:year_max] || 2010) %>
          <ul id="year_labels">
            <% ['-', '40', '50', '60', '70', '80', '90', '00', '+'].collect do |year| %>
              <li><%= year %></li>
            <% end %>
          </ul>
          <div id="year-slider-range"></div>
        </div>
      </li>
      <li class="ratings open">
        <%= link_to t('.ratings') %>
        <div id="ratings-slider">
          <%= hidden_field_tag :ratings_min, (params[:ratings_min] || 0) %>
          <%= hidden_field_tag :ratings_max, (params[:ratings_max] || 5) %>
          <ul id="ratings_labels">
            <% ['0', '1', '2', '3', '4', '5'].collect do |rating| %>
              <li><%= rating %></li>
            <% end %>
          </ul>
        </div>
        <div id="ratings-slider-range"></div>
      </li>
      <li class="dvdpost_choice open">
        <%= link_to t('.dvdpost_choice') %>
        <div>
          <label>
            <%= check_box_tag :dvdpost_choice, true, params[:dvdpost_choice] %>
            <%= t '.dvdpost_choice' %>
          </label>
        </div>
      </li>
      <li class="audio open">
        <%= link_to t('.audio') %>
        <div>
          <% Language.by_language(I18n.locale).each do |lang| %>
            <label>
              <%= filter_checkbox_tag :languages, lang.to_param %>
              <%= lang.languages_description %>
            </label>
          <% end %>
        </div>
      </li>
      <li class="subtitles open">
        <%= link_to t('.subtitles') %>
        <div>
          <% Subtitle.by_language(I18n.locale).each do |sub| %>
            <label>
              <%= filter_checkbox_tag :subtitles, sub.to_param %>
              <%= sub.undertitles_description %>
            </label>
          <% end %>
        </div>
      </li>
      <li class='li_submit'>
        <%= submit_tag t('.apply'), :name => nil, :class => "submit submit_#{I18n.locale}" %>
      </li>
      <%= hidden_field_tag :recommended, true if params[:recommended] %>
    </ul>
    <% end %>
  <% end %>
</div>
