<% if movie_detail %>
<% product = movie_detail %>
<% if product.streaming? %>
  <% @token = current_customer.get_token(product.imdb_id) %>
<% end %>
<% path = product_path(:id => product.to_param, :recommendation => @source) %>
<div class="<%= jacket_mode == :streaming ? 'vod' : product_media_id(product.media) %> clearfix">
  <div class="movie-descr">
    <h2>
      <%= link_to product.title, path %>
    </h2>
    <p>
      <%= product_description_text(product) %>
      <%= bubbles(product) %>
    </p>
    <p class="links">
      <%= link_to(t('.trailer'), product_trailer_path(:product_id => product.to_param), :class => 'trailer', :target => :_blank) if product.trailer %>
      <%= content_tag(:span, image_tag('delimiter.gif')) if product.trailer && (!product.description.url.nil? && !product.description.url.empty?) %>
      <%= link_to(t('.more'), path, :class => 'more') %>
    </p>
  </div>
  <div class="movie-info">
    <div class="subs">
      <%= image_tag product.public.image, :alt => product.public.description if product.public %>
      <div style='clear:left'></div>
    </div>
    <% if product.actors.count > 0  %>
    <div class="cast">
      <h3>
        <%= t '.actors' %>
      </h3>
      <p><%= product.actors.limit(8).collect{|actor| link_to actor.name, actor_products_path(:actor_id => actor.to_param)}.join(', ') %></p>
    </div>
    <% end %>
    <% if product.director %>
      <h3>
        <%= t '.director' %>
      </h3>
      <p><%= link_to product.director.name, director_products_path(:director_id => product.director.to_param) %></p>
    <% end %>
  </div>
  <div class="action">
    <h4>
      <%= product.categories.first.name unless product.categories.empty? %>
    </h4>
    <div class="stars" id="rating-stars-<%= product.to_param %>" product_id="<%= product.to_param %>">
      <%= render :partial => 'products/rating', :locals => {:product => product, :background => :white} %>
    </div>
    <div class="links" id="seen-uninterested-<%= product.to_param %>">
      <%= render :partial => 'products/show/seen_uninterested', :locals => {:product => product} %>
    </div>
    <%= render :partial => 'products/wishlist', :locals => {:product => product, :text => :long, :source => @source} unless params[:view_mode] == 'streaming' || params[:view_mode] == 'popular_streaming' || params[:view_mode] == 'weekly_streaming' %>
    <%= render :partial => 'products/streaming', :locals => {:product => product, :token => @token } if product.streaming? and streaming_access? %>
    
  </div>
  <div>
    <% link_to path, :class => :cover, :title => product.title do %>
      <%= product_image_tag product.image, :width => 62, :height => 95 %>
    <% end %>
  </div>
</div>
<% end %>