<div class="dvd clearfix">
  <div class="movie-descr">
    <h2><%= link_to product.title, product_path(product) %></h2>
    <p><%= product.description.text %></p>
    <p class="links">
      <%= link_to('Bande-annonce', product.trailer.url, :class => 'trailer', :target => :_blank) if product.trailer %>
      <%= content_tag(:span, image_tag('delimiter.gif')) if product.trailer && !product.description.url.empty? %>
      <%= link_to('En savoir', product.description.full_url, :class => 'more', :target => :_blank) unless product.description.url.empty? %>
    </p>
  </div>
  <div class="movie-info">
    <div class="subs">
      <%= Subtitle.by_language(I18n.locale).preferred.collect{|subtitle| image_tag "#{subtitle.code}-#{product.subtitles.preferred.include?(subtitle) ? 'yes' : 'no'}.png" } %>
      <%= image_tag product.public.image, :alt => product.public.description %>
    </div>
    <div class="cast">
      <h3>Acteurs</h3>
      <p><%= product.actors.collect{|actor| actor.name}.join(', ') %></p>
    </div>
    <h3>Réalisateur</h3>
    <p><%= product.director.name %></p>
  </div>
  <div class="action">
    <h4>Action</h4>
    <div class="stars">
      <% product.rating.times do |i| %>
        <%= image_tag 'star-on.jpg' %>
      <% end %>
      <% (5-product.rating).times do |i| %>
        <%= image_tag 'star-off.jpg' %>
      <% end %>
    </div>
    <div class="links">
      <a href="#">Déjà Vu</a>
      <span><img src="images/delimiter.gif" alt="" /></span>
      <a href="#" class="interest">Pas intéressé</a>
    </div>
    <a href="#" class="like-btn">Ajouter sur ma liste</a>
  </div>
  <div><span class="cover"><%= image_tag product.image, :width => 62, :height => 95  %></span></div>
</div>
