<% product = movie_detail %>
<div class="<%= product_media_id(product.media) %> clearfix">
  <div class="movie-descr">
    <h2><%= link_to product.title, product_path(:id => product.to_param) %></h2>
    <p><%= product_description_text(product) %></p>
    <p class="links">
      <%= link_to('Bande-annonce', product.trailer.url, :class => 'trailer', :target => :_blank) if product.trailer %>
      <%= content_tag(:span, image_tag('delimiter.gif')) if product.trailer && (!product.description.url.nil? && !product.description.url.empty?) %>
      <%= link_to('En savoir +', product_path(:id => product.to_param), :class => 'more') %>
    </p>
  </div>
  <div class="movie-info">
    <div class="subs">
      <%= Subtitle.by_language(I18n.locale).preferred.collect{|subtitle| image_tag "#{subtitle.code}-#{product.subtitles.preferred.include?(subtitle) ? 'yes' : 'no'}.png" } %>
      <%= image_tag product.public.image, :alt => product.public.description %>
    </div>
    <div class="cast">
      <h3>Acteurs</h3>
      <p><%= product.actors.collect{|actor| actor.name}.join(', ') %></p>
    </div>
    <% if product.director %>
      <h3>Réalisateur</h3>
      <p><%= product.director.name %></p>
    <% end %>
  </div>
  <div class="action">
    <h4>Action</h4>
    <div class="stars" id="rating-stars-<%= product.to_param %>" product_id ="<%= product.to_param %>">
      <%= render :partial => 'products/rating', :locals => {:product => product, :background => :white, :replace => :stars} %>
    </div>
    <div class="links" id="seen-uninterested-<%= product.to_param %>">
      <%= render :partial => 'products/show/seen_uninterested', :locals => {:product => product} %>
    </div>
    <%= render :partial => 'products/wishlist', :locals => {:product => product} %>
  </div>
  <div><%  link_to product_path(:id => product.to_param) do %>
    <span class="cover"><%= product_image_tag product.image, :width => 62, :height => 95 %></span>
  <% end %>
  </div>
</div>
