<% product = movie_detail %>
<% path = (!params[:recommended]) ? product_path(:id => product.to_param) : product_path(:id => product.to_param, :recommendation => 1) %>
<div class="<%= product_media_id(product.media) %> clearfix">
  <div class="movie-descr">
    <h2>
      <%= link_to product.title, path %>
    </h2>
    <p>
      <%= product_description_text(product) %>
    </p>
    <p class="links">
      <%= link_to(t('.trailer'), product.trailer.url, :class => 'trailer', :target => :_blank) if product.trailer %>
      <%= content_tag(:span, image_tag('delimiter.gif')) if product.trailer && (!product.description.url.nil? && !product.description.url.empty?) %>
      <%= link_to(t('.more'), path, :class => 'more') %>
    </p>
  </div>
  <div class="movie-info">
    <div class="subs">
      <%= language_bubbles(product) %>
      <%= image_tag product.public.image, :alt => product.public.description if product.public %>
    </div>
    <% if product.actors.count > 0  %>
    <div class="cast">
      <h3>
        <%= t '.actors' %> 
      </h3>
      <p><%= product.actors.collect{|actor| link_to actor.name, actor_products_path(:actor_id => actor.to_param)}.join(', ') %></p>
    </div>
    <% end %>
    <% if product.director %>
      <h3>
        <%= t '.director' %>
      </h3>
      <p><%= link_to product.director.name, director_products_path(:director_id => product.director.to_param) %></p>
    <% end %>
  </div>
  <div class="action">
    <h4>
      <%= t '.action' %>
    </h4>
    <div class="stars" id="rating-stars-<%= product.to_param %>" product_id ="<%= product.to_param %>">
      <%= render :partial => 'products/rating', :locals => {:product => product, :background => :white} %>
    </div>
    <div class="links" id="seen-uninterested-<%= product.to_param %>">
      <%= render :partial => 'products/show/seen_uninterested', :locals => {:product => product} %>
    </div>
    <%= render :partial => 'products/wishlist', :locals => {:product => product, :text => :long} %>
  </div>
  <div>
    <% link_to path, :class => :cover do %>
      <%= product_image_tag product.image, :width => 62, :height => 95 %>
    <% end %>
  </div>
</div>
